@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>



<script type="text/javascript">
    $(document).ready(function () {
        $('.my-select').select2({
            placeholder: "--Select--",
            allowClear: true,
            width: '100%'
        });

    });
    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $('#overlay').fadeIn().delay(300).fadeOut();
        $scope.dangerflag = [
            { 'name': 'Yes', 'DangerousFlag': 1 },
            { 'name': 'No', 'DangerousFlag': 0 }
        ];
        $scope.commoditytypes = null;
        $scope.fillCommodityTypes = function () {
            $http({

                method: 'POST',
                url: '/api/Home/CommodityTypes/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.commoditytypes = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });

        };
        $scope.fillCommodityTypes();

        $scope.Recordsave = function () {
            var validation = "";
            var txtCmdCode = $('#txtCmdCode').val();
            if (txtCmdCode.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Commodity UN Code</span></br>"

            }
            var txtCmdName = $('#txtCmdName').val();
            if (txtCmdName.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Commodity Name</span></br>"
            }
            var txtHsCode = $('#txtHsCode').val();
            if (txtHsCode.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter HS Code</span></br>"
            }

            var ddlDanger = $('#ddlDanger').val();
            if (ddlDanger == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Dangerous Flag</span></br>"
            }
            var ddlCmdtypes = $('#ddlCmdtypes').val();
            if (ddlCmdtypes == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Commodity Types</span></br>"
            }
            if (validation != "") {

                ShowPopup(validation);
                return false;
            }

            $('#overlay').fadeIn().delay(100).fadeOut();
            var BussData = {}
            var id = $scope.HDRegId;

            if (id == "" || id == null)
                BussData.ID = 0;
            else
                BussData.ID = $scope.HDRegId;
            BussData.CommodityUnCode = $scope.txtCmdCode;
            BussData.CommodityName = $scope.txtCmdName;
            BussData.HSCode = $scope.txtHsCode;
            BussData.DangerousFlag = $("#ddlDanger").val();
            BussData.CommodityType = $("#ddlCmdtypes").val();

            BussData.Remarks = $scope.txtRemarks;


            $http({
                method: 'POST',
                url: "/api/Home/Commodity",
                data: JSON.stringify(BussData),
            }).then(function (result) {

                $timeout(function () {
                    ShowPopup(result.data[0].AlertMessage);
                    setTimeout(function () { location.href = "/Home/CommodityView" }, 2000);

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }


                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    // $(".modal").hide();
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                // This is set in the event of an error.
                console.log(result);
                ShowPopup('There has been an error: ' + result);
            });

        }


       
        //$scope.BindCommodity();
        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var secret_key = CryptoJS.enc.Utf8.parse(localStorage.getItem("SessionKey"));
                var iv = CryptoJS.enc.Utf8.parse(localStorage.getItem("Sessioniv"));
                var bytes = CryptoJS.AES.decrypt(window.location.search.split('?')[1].toString(), secret_key, {
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

                var params = bytes.toString(CryptoJS.enc.Utf8).split('&');
                //alert(params);
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;

                }
            }
            if (queryString["CommodityRegID"] != null) {
                $scope.HDRegId = queryString["CommodityRegID"].toString();
                $scope.BindCommodity(queryString["CommodityRegID"].toString());

            }
        });

        //BIND EXISTING VALUE
        $scope.BindCommodity = function (CommodityRegID) {

            var Datavalue = {}
            var id = CommodityRegID;

            if (id == "" || id == null)
                Datavalue.ID = 0;
            else
                Datavalue.ID = CommodityRegID;
           
            $http({
                method: 'POST',
                url: '/api/Home/Commodityviewedit/',
                data: JSON.stringify(Datavalue),
            }).then(function (result) {
                $timeout(function () {

                    if (Datavalue.ID != "") {

                        $scope.txtCmdCode = result.data[0].CommodityUnCode;
                        $scope.txtCmdName = result.data[0].CommodityName;
                        $scope.txtHsCode = result.data[0].HSCode;
                        $scope.txtRemarks = result.data[0].Remarks;
                        $scope.DangerousFlag = result.data[0].DangerousFlag;
                        $scope.CommodityType = result.data[0].CommodityType;
                        $scope.DangerousFlag = { DangerousFlag: result.data[0].DangerousFlag };
                        $scope.CommodityType = { CommodityType: result.data[0].CommodityType };

                    }
                    else {
                        $scope.txtCmdCode = "";
                        $scope.txtCmdName = "";
                        $scope.txtHsCode = "";
                        $scope.txtRemarks = "";

                    }
                });
            });
           
        }
    });

    function ShowPopup(message) {
        swal(message);
    };

</script>

<div ng-app="MyApp" ng-controller="MyController">
    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <a href="/Home/CommodityView" class="btn btn-fill btnback btn-success btn-round btntop">
                    <i class="material-icons">reply</i> Back

                </a>
                @*<button type="submit" ng-click="AddNew();" class="btn btn-fill btn-warning btn-round btntop">
                    <i class="material-icons">edit</i>

                </button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Commodity Master</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Commodity UN Code*</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" autocomplete="off" id="txtCmdCode" ng-model="txtCmdCode" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Commodity Name*</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" id="txtCmdName" autocomplete="off" ng-model="txtCmdName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>HS Code*</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" autocomplete="off" id="txtHsCode" ng-model="txtHsCode" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Dangerous Flag*</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <select class="form-control my-select" ng-model="DangerousFlag" id="ddlDanger" ng-options="item.name for item in dangerflag track by item.DangerousFlag">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Commodity Type*</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <select class="form-control my-select" ng-model="CommodityType" id="ddlCmdtypes" placeholder="Commodity Type" ng-options="item.GeneralName for item in commoditytypes track by item.CommodityType">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Remarks</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" id="txtRemarks" autocomplete="off" ng-model="txtRemarks" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <div class="col-md-12" style="text-align:right;">
                                <button type="submit" ng-click="Recordsave();" class="btn btn-fill btn-rose">Submit</button>
                            </div>
                            <input type="hidden" id="HDRegId" ng-model="HDRegId" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

