@model  NVOCShipping.Models.MasterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $('#overlay').fadeIn().delay(300).fadeOut();
        $scope.Recordsave = function () {
            var validation = "";
            var txtCountryCode = $('#txtCountryCode').val();
            if (txtCountryCode.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Country Code</span></br>"

            }
              var txtCountryName = $('#txtCountryName').val();
            if (txtCountryName.length == 0) {

               validation += "<span style='color:red;'>*</span> <span>Please Enter Country Name</span></br>"
            }
            if (validation != "") {

                ShowPopup(validation);
                 return false;
            }

            $('#overlay').fadeIn().delay(100).fadeOut();
              var BussData = {}
            var id = $scope.HDRegId;

            if (id == "" || id == null)
                BussData.ID = 0;
            else
                BussData.ID = $scope.HDRegId;
            BussData.CountryCode = $scope.txtCountryCode;
            BussData.CountryName = $scope.txtCountryName;

            if ($scope.ChkStatus == 1) {

                BussData.Status = 1;
            }
            else {
                BussData.Status = 0;
            }
            BussData.Status = $scope.ChkStatus;



            $http({
                method: 'POST',
                url: "/api/Home/Country",
                data: JSON.stringify(BussData),
            }).then(function (result) {


                ShowPopup(result.data[0].AlertMessage);
                setTimeout(function () { location.href = "/Home/CountryView" }, 2000);

                return false;

            });
        }
        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var secret_key = CryptoJS.enc.Utf8.parse(localStorage.getItem("SessionKey"));
                var iv = CryptoJS.enc.Utf8.parse(localStorage.getItem("Sessioniv"));
                var bytes = CryptoJS.AES.decrypt(window.location.search.split('?')[1].toString(), secret_key, {
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

                var params = bytes.toString(CryptoJS.enc.Utf8).split('&');
                //alert(params);
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;

                }
            }
            if (queryString["CtryID"] != null) {
                $scope.HDRegId = queryString["CtryID"].toString();
                $scope.BindCountry(queryString["CtryID"].toString());

            }
        });
        $scope.BindCountry = function (CtryID) {

            var Datavalue = {}
            var id = CtryID;

            if (id == "" || id == null)
                Datavalue.ID = 0;
            else
                Datavalue.ID = CtryID;
             $http({
                 method: 'POST',
                 url: '/api/Home/Countryviewparticular/',
                 data: JSON.stringify(Datavalue),
             }).then(function (result)
             {
                 $timeout(function ()
                 {

                     if (Datavalue.ID != "") {

                         $scope.txtCountryCode = result.data[0].CountryCode;
                         $scope.txtCountryName = result.data[0].CountryName;
                         $scope.ChkStatus = result.data[0].Status;

                     }
                     else {
                     $scope.txtCountryCode = "";
                     $scope.txtCountryName = "";
                     $scope.ChkStatus = 0;
                      }
                 });
             });
          

         }
      //  $scope.BindCountry();
    });

    function ShowPopup(message) {
        swal(message);
    };

</script>

<div ng-app="MyApp" ng-controller="MyController">
    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <a href="/Home/CountryView" class="btn btn-fill btn-success btnback btn-round btntop">
                    <i class="material-icons">reply</i> Back

                </a>
                @*<button type="submit" ng-click="AddNew();" class="btn btn-fill btn-warning btn-round btntop">
                    <i class="material-icons">edit</i>

                </button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Country Master</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Country Code</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" autocomplete="off" id="txtCountryCode" ng-model="txtCountryCode" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Country Name</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" id="txtCountryName" autocomplete="off" ng-model="txtCountryName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7 input-field">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="ChkStatus == 1" id="ChkStatus" ng-model="ChkStatus" value="ChkStatus">
                                                    <span class="toggle"></span>

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="card-footer ">
                        <div class="col-md-12" style="text-align:right;">
                            <button type="submit" ng-click="Recordsave();" class="btn btn-fill btn-rose">Submit</button>
                        </div>
                        <input type="hidden" id="HDRegId" ng-model="HDRegId" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




