@model  NVOCShipping.Models.MasterModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $('#overlay').fadeIn().delay(300).fadeOut();
        $(document).ready(function () {
            $('.my-select').select2({
                placeholder: "--Select--",
                allowClear: true,
                width: '100%'
            });

        });
        $scope.Country = null;
        $scope.fillCountry = function () {
            //var Datavalue = {};

            //Datavalue.CountryID = $scope.CountryID.CountryID;
            $http({
                method: 'POST',
                url: '/api/Home/BindCountries/',
                //data: JSON.stringify(Datavalue),
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.Country = result.data;
                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillCountry();

        $scope.Recordsave = function () {
            var validation = "";
            var txtCurrencyCode = $('#txtCurrencyCode').val();
            if (txtCurrencyCode.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Currency Code</span></br>"

            }
            var txtCurrencyName = $('#txtCurrencyName').val();
            if (txtCurrencyName.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Currency Name</span></br>"
            }
            var ddlcountry1 = $('#ddlcountry').val();
            if (ddlcountry1 == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select Country</span></br>"
            }
            if (validation != "") {

                ShowPopup(validation);
                return false;
            }

            $('#overlay').fadeIn().delay(100).fadeOut();
            var BussData = {}
            var BussData = {}
            var id = $scope.HDRegId;

            if (id == "" || id == null)
                BussData.ID = 0;
            else
                BussData.ID = $scope.HDRegId;
            BussData.CurrencyCode = $scope.txtCurrencyCode;
            BussData.CurrencyName = $scope.txtCurrencyName;
            BussData.CountryID = $("#ddlcountry").val();
            if ($scope.ChkStatus == 1) {

                BussData.Status = 1;
            }
            else {
                BussData.Status = 0;
            }
            BussData.Status = $scope.ChkStatus;



            $http({
                method: 'POST',
                url: "/api/Home/Currency",
                data: JSON.stringify(BussData),
            }).then(function (result) {


                $scope.Save = result.data;
               
                if (BussData.ID != "") {
                    $('#overlay').hide;
                    ShowPopup("Updated Successfully");
                }
                else {
                    ShowPopup("Currency Master Saved Successfully");
                }
                setTimeout(function () { location.href = "/Home/CurrencyView" }, 1000);
                return false;

            });
        }
        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var secret_key = CryptoJS.enc.Utf8.parse(localStorage.getItem("SessionKey"));
                var iv = CryptoJS.enc.Utf8.parse(localStorage.getItem("Sessioniv"));
                var bytes = CryptoJS.AES.decrypt(window.location.search.split('?')[1].toString(), secret_key, {
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

                var params = bytes.toString(CryptoJS.enc.Utf8).split('&');
                //alert(params);
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;

                }
            }
            if (queryString["CurrID"] != null) {
                $scope.HDRegId = queryString["CurrID"].toString();
                $scope.BindCurrency(queryString["CurrID"].toString());

            }
        });
        $scope.BindCurrency = function (CurrID) {

            var Datavalue = {}
            var id = CurrID;

            if (id == "" || id == null)
                Datavalue.ID = 0;
            else
                Datavalue.ID = CurrID;
            $http({
                method: 'POST',
                url: '/api/Home/Currencyviewparticular/',
                data: JSON.stringify(Datavalue),
            }).then(function (result) {
                $timeout(function () {

                    if (Datavalue.ID != "") {

                        $scope.txtCurrencyCode = result.data[0].CurrencyCode;
                        $scope.txtCurrencyName = result.data[0].CurrencyName;
                        $scope.ChkStatus = result.data[0].Status;
                        $scope.CountryID = { CountryID: result.data[0].CountryID };
                    }
                    else {
                        $scope.txtCurrencyCode = "";
                        $scope.txtCurrencyName = "";
                        $scope.ChkStatus = 0;
                    }
                });
            });
            $scope.back = function () {

                window.location = "/Home/CurrencyView";
            }
        }
        // $scope.BindCurrency();
    });

    function ShowPopup(message) {
        swal(message);
    };

</script>

<div ng-app="MyApp" ng-controller="MyController">
    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <a href="/Home/CurrencyView" class="btn btn-fill btn-success btnback btn-round btntop">
                    <i class="material-icons">reply</i> Back

                </a>
                @*<button type="submit" ng-click="AddNew();" class="btn btn-fill btn-warning btn-round btntop">
                        <i class="material-icons">edit</i>

                    </button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Currency Master</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Currency Code</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" autocomplete="off" id="txtCurrencyCode" ng-model="txtCurrencyCode" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Currency Name</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" id="txtCurrencyName" autocomplete="off" ng-model="txtCurrencyName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7 input-field">
                                            <div class="togglebutton">
                                                <label>
                                                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="ChkStatus == 1" id="ChkStatus" ng-model="ChkStatus" value="ChkStatus">
                                                    <span class="toggle"></span>

                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Country </label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">


                                            <select class="form-control my-select" ng-model="CountryID" id="ddlcountry" ng-options="item.CountryName for item in Country track by item.CountryID">  </select>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="card-footer ">
                        <div class="col-md-12" style="text-align:right;">
                            <button type="submit" ng-click="Recordsave();" class="btn btn-fill btn-rose">Submit</button>
                        </div>
                        <input type="hidden" id="HDRegId" ng-model="HDRegId" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

