@model  NVOCShipping.Models.MasterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

<script type="text/javascript">
    $('#overlay').fadeIn().delay(300).fadeOut();
    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {

        $(document).ready(function () {
            $('.my-select').select2({
                placeholder: "--Select--",
                allowClear: true,
                width: '100%'
            });

        });

        $scope.StatusValues = [
            { 'name': 'ACTIVE', 'ID': 1 },
            { 'name': 'INACTIVE ', 'ID': 2 }
        ];


        $scope.SelectedFiles = null;
        $scope.Country = null;
        $scope.fillCountry = function () {
            //var Datavalue = {};

            //Datavalue.CountryID = $scope.CountryID.CountryID;
            $http({
                method: 'POST',
                url: '/api/Home/BindCountries/',
                //data: JSON.stringify(Datavalue),
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.Country = result.data;
                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillCountry();

        $scope.GeoLocations = null;
        $scope.fillGeoLocations = function () {
            $http({
                method: 'POST',
                url: '/api/PartyApi/BindGeoLocations/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.GeoLocations = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });

        };
        $scope.fillGeoLocations();

        $scope.MainPortsValues = null;
        $scope.fillMainPortsValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/BindMainPorts/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.MainPortsValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });

        };
        $scope.fillMainPortsValues();

        $scope.Recordsave = function () {

            var validation = "";
            var txtPortCode = $('#txtPortCode').val();
            if (txtPortCode.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Port Code</span></br>"

            }
            var txtPortName = $('#txtPortName').val();
            if (txtPortName.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Port Name</span></br>"
            }
            var ddlcountry1 = $('#ddlcountry').val();
            if (ddlcountry1 == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select Country</span></br>"
            }
            var ddlMainPorts = $('#ddlMainPorts').val();
            if (ddlMainPorts == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select Main Port</span></br>"
            }

            if (validation != "") {

                ShowPopup(validation);
                return false;
            }

            $('#overlay').fadeIn().delay(100).fadeOut();
            var BussData = {}

            var id = $scope.HDRegId;

            if (id == "" || id == null)
                BussData.ID = 0;
            else
                BussData.ID = $scope.HDRegId;
            BussData.Portcode = $scope.txtPortCode;
            BussData.PortName = $scope.txtPortName;
            BussData.CountryID = $("#ddlcountry").val();
            BussData.GeoLocID = $("#ddlGeoLocation").val();
            BussData.Status = $("#ddlStatus").val();
            //BussData.MainPortID = $("#ddlMainPorts").val();
            if ($scope.IsSeaPort == 1) {

                BussData.IsSeaPort = 1;
            }
            else {
                BussData.IsSeaPort = 0;
            }
            BussData.IsSeaPort = $scope.IsSeaPort;

            if ($scope.IsICDPort == 1) {

                BussData.IsICDPort = 1;
            }
            else {
                BussData.IsICDPort = 0;
            }
            BussData.IsICDPort = $scope.IsICDPort;

            $http({
                method: 'POST',
                url: "/api/Home/MainPort",
                data: JSON.stringify(BussData),
            }).then(function (result) {
                $timeout(function () {
                    // BussData.ID = result.data[0].ID;
                    //alert(result.data[0].ID);
                    if (BussData.ID != "") {
                        ShowPopup("Port Master Updated");
                    }
                    else {

                        ShowPopup("Port Master Saved Successfully");
                    }

                    setTimeout(function () { location.href = "/Home/MainPortView" }, 1000);
                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }


                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    // $(".modal").hide();
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                // This is set in the event of an error.
                console.log(result);
                ShowPopup('There has been an error: ' + result);
            });

        }

        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var secret_key = CryptoJS.enc.Utf8.parse(localStorage.getItem("SessionKey"));
                var iv = CryptoJS.enc.Utf8.parse(localStorage.getItem("Sessioniv"));
                var bytes = CryptoJS.AES.decrypt(window.location.search.split('?')[1].toString(), secret_key, {
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

                var params = bytes.toString(CryptoJS.enc.Utf8).split('&');
                //alert(params);
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;

                }
            }
            if (queryString["PortRegID"] != null) {
                $scope.HDRegId = queryString["PortRegID"].toString();
                $scope.BindPort(queryString["PortRegID"].toString());

            }
        });
        $scope.BindPort = function (PortRegID) {

            var Datavalue = {}
            var id = PortRegID;

            if (id == "" || id == null)
                Datavalue.ID = 0;
            else
                Datavalue.ID = PortRegID;
            $http({
                method: 'POST',
                url: '/api/Home/MainPortviewedit/',
                data: JSON.stringify(Datavalue),
            }).then(function (result) {
                $timeout(function () {

                    if (Datavalue.ID != "") {

                        $scope.txtPortCode = result.data[0].PortCode;
                        $scope.txtPortName = result.data[0].PortName;
                        $scope.ddlGeoLocation = { ID: result.data[0].GeoLocID };
                        $scope.ddlStatus = { ID: result.data[0].Status };
                        $scope.CountryID = { CountryID: result.data[0].CountryID };
                        //$scope.IsSeaPort = result.data[0].IsSeaPort;
                        //$scope.IsICDPort = result.data[0].IsICDPort;
                        //$scope.ddlMainPorts = {ID: result.data[0].MainPortID };

                    }
                    else {
                        $scope.txtPortCode = "";
                        $scope.txtPortName = "";
                        $scope.ChkStatus = "";
                        $scope.CountryID = 0;
                        $scope.ddlGeoLocation = 0;
                    }
                });
            });
            $scope.back = function () {

                window.location = "/Home/MainPortView";
            }
        }
        //$scope.BindPort();
    });

    function ShowPopup(message) {
        swal(message);
    };

</script>

<div ng-app="MyApp" ng-controller="MyController">
    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <a href="/Home/MainPortView" class="btn btn-fill btnback btn-success btn-round btntop">
                    <i class="material-icons">reply</i> Back

                </a>
                @*<button type="submit" ng-click="AddNew();" class="btn btn-fill btn-warning btn-round btntop">
                        <i class="material-icons">edit</i>

                    </button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Main Port Master</h4>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Port Code</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" autocomplete="off" id="txtPortCode" ng-model="txtPortCode" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Port Name</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" id="txtPortName" autocomplete="off" ng-model="txtPortName" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Country </label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">


                                            <select class="form-control my-select" ng-model="CountryID" id="ddlcountry" ng-options="item.CountryName for item in Country track by item.CountryID">  </select>


                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Geo-Location</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <select class="form-control my-select" ng-model="ddlGeoLocation" id="ddlGeoLocation" ng-options="item.GeoLocation for item in GeoLocations track by item.ID" required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Status</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <select class="form-control my-select" id="ddlStatus" ng-model="ddlStatus" ng-options="item.name for item in StatusValues track by item.ID">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Sea Port</label>
                                            </div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-5 input-field">
                                                <div>
                                                    <label>
                                                        <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="IsSeaPort == 1" id="IsSeaPort" ng-model="IsSeaPort" value="IsSeaPort">
                                                        <span class="toggle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>ICD Port</label>
                                            </div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-5 input-field">
                                                <div>
                                                    <label>
                                                        <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-checked="IsICDPort == 1" id="IsICDPort" ng-model="IsICDPort" value="IsICDPort">
                                                        <span class="toggle"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>


                    </div>
                    <div class="card-footer ">
                        <div class="col-md-12" style="text-align:right;">
                            <button type="submit" ng-click="Recordsave();" class="btn btn-fill btn-rose">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




