@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<style>
    .form-control {
        width: 180px;
        height: 24px;
    }
</style>
<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $(document).ready(function () {
            $('.my-select').select2({
                placeholder: "--Select--", allowClear: true, width: '100%'
            });
        });


        $scope.MNRStatusList = null;
        $scope.fillMNRStatusList = function () {
            $http({
                method: 'POST',
                url: '/api/MNRApi/BindMNRStatus/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.MNRStatusList = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillMNRStatusList();

        $scope.btnPrint = function () {

            var DtFrom = $('#txtFromDate').val();
            var DtTo = $('#txtToDate').val();
            var User = localStorage.getItem("UserName");
            var Status = $('#ddlMNRStatus').val();

            window.location.href = '@Url.Action("MNRWeeklyReport", "MNRExcel")?Status=' + Status + "&DtFrom=" + DtFrom + "&DtTo=" + DtTo + "&User=" + User;

        }

    });
    function ShowPopup(message) {
        swal(message);
    };
</script>
<style>
    legend {
        background-color: #0585b5;
        color: #fff;
        font-size: 14px;
        padding: 4px 5px;
        font-weight: bold;
    }

    .inventry .form-control.sundry {
        width: 172px !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
        background-color: #12759a !important;
        color: #fff;
    }

    .nav-tabs {
        width: 300px !important;
        margin: 0 auto !important;
    }
</style>
<link href="~/assets/css/common.css" rel="stylesheet" />
<link href="~/assets/css/InvoiceStyle.css" rel="stylesheet" />
<div ng-app="MyApp" ng-controller="MyController">
    <div class="row">
        <div class="col-md-12 backbtn" style="text-align:right;">
            <a href="#" type="submit" class="btn btn-fill btnback btn-success btn-round btntop">
                <i class="material-icons">reply</i> Back
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        MNR Weekly Report
                    </div>
                </div>


                <div class="card-body">

                    <div class="row inventry">
                        <div class="col-md-12 padlr0" style="padding-top:7px; padding-bottom:7px;">

                            <div class="col-md-12">
                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl2"><label class="lable-fond">From Date</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <input type="date" id="txtFromDate" ng-model="txtFromDate" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl2"><label class="lable-fond">To Date</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <input type="date" id="txtToDate" ng-model="txtToDate" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl2"><label class="lable-fond">Status</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select class="form-control my-select" ng-model="ddlMNRStatus" id="ddlMNRStatus" ng-options="item.GeneralName for item in MNRStatusList track by item.ID" required>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="text-align: right;
        margin-top: 20px; padding-bottom: 10px;">

                                        <button type="submit" class="btn btn-fill btn-success" ng-click="btnPrint();">
                                            <i class="material-icons">file_download</i>
                                            Generate Report
                                        </button>
                                        @*<button type="submit"  class="btn btn-fill btn-info">
                <i class="material-icons">file_download</i>
                Schedule Email
            </button>*@

                                        <input type="hidden" id="RecId" ng-model="RecId" />


                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                </div>


            </div>



        </div>




    </div>
</div>


<script>
    $(document).ready(function () {
        // initialise Datetimepicker and Sliders
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',

        });
    });
</script>
