@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<style>
    .form-control {
        width: 180px;
        height: 24px;
    }


    .exceldownload .fa-file-excel-o {
        color: #4caf50;
        font-weight: 400;
        font-size: 20px;
    }

    .exceldownload a {
        color: #000;
    }
</style>
<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $('#overlay').fadeIn().delay(500).fadeOut();
        $(document).ready(function () {
            $('.my-selectPort').select2({
                placeholder: "Port", allowClear: true, width: '100%'
            });

            $('.my-selectloc').select2({
                placeholder: "ICD Name", allowClear: true, width: '100%'
            });
            $('.my-selectCT').select2({
                placeholder: "Charge Type", allowClear: true, width: '100%'
            });
            $('.my-selectCom').select2({
                placeholder: "Commodity", allowClear: true, width: '100%'
            });
            $('.my-selectCnT').select2({
                placeholder: "Container Type", allowClear: true, width: '100%'
            });
        $('.my-selectStatus').select2({
            placeholder: "Status", allowClear: true, width: '100%'
        });
    });




        $scope.LocCity = null;
        $scope.fillLocCity = function () {
            $http({
                method: 'POST',
                url: '/api/Home/cityBind/',
                data: {}
            }).then(function (result) {
                $timeout(function () {

                    $scope.LocCity = result.data;

                });
            });
        };
        $scope.fillLocCity();

    $scope.PortAllvalues = null;
    $scope.fillPortsValues = function () {
        $http({
            method: 'POST',
            url: '/api/CommonAccessApi/PortValues/',
            data: {}
        }).then(function (result) {
            $timeout(function () {
                $scope.PortAllvalues = result.data;

            });
        }, function (result) {
            if (result.status == 500) {
                ShowPopup("Sorry no internet connectivity Application Error.");
            }
            else if (result.status == 404) {
                ShowPopup("Sorry no internet connectivity page not found.");
            }
            if (result.status > 0) {
                var errorMsg = result.status + ': ' + result.data;
                ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
            }
        }).catch(function (result) {
            ShowPopup('There has been an error: ' + result);
        });
    };
    $scope.fillPortsValues();

        $scope.ChargeTypeAllValues = null;
        $scope.fillChargeTypeAllValues = function () {
            var Datavalue = {};
            Datavalue.ID = "34"; //GeneralMaster Table seqNo
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ModuleValues/',
                data: JSON.stringify(Datavalue)
            }).then(function (result) {
                $timeout(function () {
                    $scope.ChargeTypeAllValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillChargeTypeAllValues();

        $scope.CommodityAllvalues = null;
        $scope.fillCommodityValues = function () {
            var Datavalue = {};
            Datavalue.ID = "2"; //GeneralMaster Table seqNo
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ModuleValues/',
                data: JSON.stringify(Datavalue)
            }).then(function (result) {
                $timeout(function () {
                    $scope.CommodityAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillCommodityValues();

        $scope.CntrTypesvalues = null;
        $scope.fillCntrTypeValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/CntrTypeValues/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CntrTypesvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillCntrTypeValues();
    $scope.StatusBindValues = [
        { 'name': '--select--', 'ID': 0 },
        { 'name': 'Active', 'ID': 1 },
        { 'name': 'InActive ', 'ID': 2 }
        ];

    $scope.IHCHaulageViewRateview = null;
        $scope.IHCHaulageViewRecords = function () {

        var BussData = {};
        BussData.ICDLocID = $('#ddlCity').val();
        BussData.PortID = $('#ddlPort').val();
        BussData.Status = $('#ddlStatus').val();
        BussData.ContainerTypeID = $('#ddlContainerType').val();
        BussData.CommodityTypeID = $('#ddlCommodityType').val();
        BussData.ChargeTypeID = $('#ddlChargeType').val();
        $http({
            method: 'POST',
            url: '/api/SalesApi/IHCHaulageTariffViewRecord/',
            data: JSON.stringify(BussData),
        }).then(function (result) {
            $timeout(function () {
                $scope.IHCHaulageViewRateview = result.data;
                $scope.totalItems = $scope.IHCHaulageViewRateview.length;
                $scope.currentPage = 1;
                $scope.numPerPage = 8;
                $scope.paginate = function (value) {
                    var begin, end, index;
                    begin = ($scope.currentPage - 1) * $scope.numPerPage;
                    end = begin + $scope.numPerPage;
                    index = $scope.IHCHaulageViewRateview.indexOf(value);
                    return (begin <= index && index < end);
                };


            });
            $('#overlay').hide();
        }, function (result) {
            if (result.status == 500) {
                $('#overlay').hide();
                ShowPopup("Sorry no internet connectivity Application Error.");
            }
            else if (result.status == 404) {
                $('#overlay').hide();
                ShowPopup("Sorry no internet connectivity page not found.");
            }
            if (result.status > 0) {
                $('#overlay').hide();
                var errorMsg = result.status + ': ' + result.data;
                ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
            }
        }).catch(function (result) {
            $('#overlay').hide();
            ShowPopup('There has been an error: ' + result);
        });
    };
    $scope.IHCHaulageViewRecords();

    $scope.ClearRecords = function () {

        $("#ddlCity").val(null).trigger("change");
        $("#ddlPort").val(null).trigger("change");
        $("#ddlStatus").val(null).trigger("change");
        $("#ddlContainerType").val(null).trigger("change");
        $("#ddlCommodityType").val(null).trigger("change");
        $("#ddlChargeType").val(null).trigger("change");
        $scope.IHCHaulageViewRecords();

    }
        $scope.FileUploadingWindows = function () {

            var left = (screen.width / 2) - (400 / 2);
            var top = (screen.height / 2) - (300 / 2);
            return window.open("../IHCUpload.aspx?ID=" + $scope.RegId, 'window', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=400, height=300, top=' + top + ', left=' + left);
        }


    $scope.LoadingIHCEdit = function (urlv) {

        //var url = "/Sales/IHCHaulageTariff?IHCTariffID=" + encodeURIComponent(urlv);
        //window.location.href = url;

        var ParameterValue = "IHCTariffID=" + urlv.toString();
        var message = CryptoJS.enc.Utf8.parse(ParameterValue);
        var secret_key = CryptoJS.enc.Utf8.parse(localStorage.getItem("SessionKey"));
        var iv = CryptoJS.enc.Utf8.parse(localStorage.getItem("Sessioniv"));
        var ciphertext = CryptoJS.AES.encrypt(message, secret_key, {
            iv: iv,
            mode: CryptoJS.mode.CBC,
            padding: CryptoJS.pad.Pkcs7
        });
        var url = "/Sales/IHCHaulageTariff?" + ciphertext;

        window.location.href = url;
    }

        $scope.btnDownload = function () {


            var ICDLocID = $('#ddlCity').val();
            var PortID = $('#ddlPort').val();
            var Status = $('#ddlStatus').val();
            var ContainerTypeID = $('#ddlContainerType').val();
            var CommodityTypeID = $('#ddlCommodityType').val();
            var ChargeTypeID = $('#ddlChargeType').val();
            var User = localStorage.getItem("UserName");

            window.location.href = '@Url.Action("CreateIHCExcelReport", "IHCExcelReport")?ICDLocID=' + ICDLocID + "&PortID=" + PortID
                + "&Status=" + Status + "&ContainerTypeID=" + ContainerTypeID + "&CommodityTypeID=" + CommodityTypeID + "&ChargeTypeID=" + ChargeTypeID + "&User=" + User;

        }
    });

    function ShowPopup(message) {
        swal(message);
    };

</script>

<div ng-app="MyApp" ng-controller="MyController">
    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 createnew" style="text-align:right;">
            Create New
            <a href="/Sales/IHCHaulageTariff" class="btn btn-fill btn-success btnadd btn-round btntop">
                <i class="material-icons">add</i>

            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        IHC Haulage Tariff

                    </div>

                </div>
                <div class="card-body">
                    <div class="toolbar">
                    </div>
                    <div class="material-datatables">
                        <div class="row">
                            <div class="col-md-12 padlr0 exceldownload" style="text-align:right; padding-right:16px;">
                                <a href="#" ng-click="FileUploadingWindows();" class="btn btn-fill btn-success btnuploadfile btnadd btntop" style="margin-right:0;">
                                    <i class="material-icons">upload</i> Upload
                                </a>
                                
                                    <a ng-click="btnDownload();">Download <i class="fa fa-file-excel-o"></i></a>
                               
                            </div>

                            
                        </div>
                        <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>ICD</th>
                                    <th>Port Name</th>
                                    <th>Commodity Type </th>
                                    <th>Container Type </th>
                                    <th>Charge Type</th>
                                    @*<th>Valid From</th>
                    <th>Valid Till</th>*@
                                    <th>Status</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                <tr ng-repeat="i in IHCHaulageViewRateview | filter : paginate | orderBy:'-Statusv'">
                                    <td>{{numPerPage *(currentPage-1)+$index+1}}</td>
                                    <td>{{i.ICDName}}</td>
                                    <td>{{i.Port}}</td>
                                    <td>{{i.CommodityType}}</td>
                                    <td>{{i.ContainerType}}</td>
                                    <td>{{i.ChargeType}}</td>
                                    @*<td>{{i.ValidFrom}}</td>
                    <td>{{i.ValidTill}}</td>*@
                                    <td>{{i.Status}}</td>
                                    <td class="td-actions text-right">

                                        <button type="button" ng-click="LoadingIHCEdit(i.ID);" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div id="notFoundDiv" ng-show="(IHCHaulageViewRateview|filter:ICDName).length==0" style="color: red; font-weight: bold">No Records Found</div>
                    </div>

                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <p>Showing <span style="padding-left:5px; padding-right:3px;">1</span>to<span style="padding-left:3px; padding-right:3px;">10</span>of<span style="padding-left:3px; padding-right:3px;">40</span>entries</p>
                            </div>
                            <div class="col-md-7" style="text-align:right;">
                                <pagination total-items="totalItems" ng-model="currentPage"
                                            max-size="10" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
                                </pagination>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <select id="ddlCity" ng-model="ddlCity" class="form-control my-selectloc" ng-options="item.CityName for item in LocCity track by item.ID">
                                <option value="" disabled selected>ICD Name</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <select type="text" id="ddlPort" ng-model="ddlPort" class="form-control my-selectPort" placeholder="Location" ng-options="item.PortName for item in PortAllvalues track by item.ID">
                                <option value="" disabled selected>Port</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <select class="form-control my-selectCom" id="ddlCommodityType" ng-model="ddlCommodityType" options="{ allowClear: true }" ng-options="item.GeneralName for item in CommodityAllvalues track by item.ID">
                                <option value="" disabled selected>Commodity</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <select class="form-control my-selectCT" ng-model="ddlChargeType" id="ddlChargeType" ng-options="item.GeneralName for item in ChargeTypeAllValues track by item.ID" required>
                                <option value="" disabled selected>Charge Type</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <select class="form-control my-selectCnT" id="ddlContainerType" ng-model="ddlContainerType" options="{ allowClear: true }" ng-options="item.CntrTypes for item in CntrTypesvalues track by item.ID">
                                <option value="" disabled selected>Container Type</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <select type="text" id="ddlStatus" ng-model="ddlStatus" class="form-control my-selectStatus" options="{ allowClear: true }" ng-options="item.name for item in StatusBindValues track by item.ID">
                                <option value="" disabled selected>Status</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <button type="submit" ng-click="ClearRecords();" class="btn btn-fill btn-danger searchbtn">Clear</button>
                            <button type="submit" ng-click="IHCHaulageViewRecords();" class="btn btn-fill btn-rose searchbtn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

