@model  NVOCShipping.Models.MasterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<style>
   
    .table > tbody > tr > td {
        white-space: nowrap;
    }
    .exceldownload .fa-file-excel-o {
        color: #4caf50;
        font-weight: 400;
        font-size: 20px;
    }

    .exceldownload a {
        color: #000;
    }
</style>

<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {


        $scope.CntrNoList = null;
        $scope.FillCntrNo = function () {
            $http({
                method: 'POST',
                url: '/api/ContainerApi/BindCntrNos/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CntrNoList = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.FillCntrNo();

        $scope.CntrSizeTypes = null;
        $scope.fillCntrSizeTypes = function () {
            $http({
                method: 'POST',
                url: '/api/ContainerApi/CntrTypeSize/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CntrSizeTypes = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillCntrSizeTypes();

        $scope.GeoLocationList = null;
        $scope.fillGeoLocationList = function () {
            $http({
                method: 'POST',
                url: '/api/Home/GeoLocationsMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.GeoLocationList = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillGeoLocationList();

        $scope.PortList = null;
        $scope.fillPortList = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/PortValues/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.PortList = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillPortList();

        $scope.VesVoyList = null;
        $scope.fillVesVoyList = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/VesVoyMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.VesVoyList = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillVesVoyList();

        $scope.CntrStatusCodes = null;
        $scope.fillCntrStatusCodes = function () {
            $http({
                method: 'POST',
                url: '/api/ContainerApi/CntrStatusCodes/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CntrStatusCodes = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillCntrStatusCodes();

        $scope.BindCntrTxnsRecords = function () {
            var validation = "";


            var ddlFromLoc = $('#ddlFromLoc').val();
            if (ddlFromLoc == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select  Location</span></br>"
            }
            var ddlStatuscode = $('#ddlStatuscode').val();
            if (ddlStatuscode == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select  StatusCode</span></br>"
            }
            if (validation != "") {

                ShowPopup(validation);
                return false;
            }
            var BussData = {}
            BussData.CntrNo = $scope.txtCntrNo;
            //BussData.CntrID = $("#ddlCntrNo").val();
            //BussData.CntrTypeID = $("#ddlSizeType").val();
            BussData.LocationID = $("#ddlFromLoc").val();
            BussData.StatusCode = $("#ddlStatuscode option:selected").text(),
            BussData.VesVoyID = $("#ddlVesVoy").val();

            $http({
                method: 'POST',
                url: "/api/ContainerApi/ContainersTxnsView",
                data: JSON.stringify(BussData),

            }).then(function (result) {

                $scope.CntrTxnsRec = result.data;


            });

        };

        $scope.Next = function (CntrTxnsRec) {

            var validation = "";

            var ddlStatuscode = $('#ddlStatuscode').val();
            if (ddlStatuscode == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select From Status</span></br>"
            }

            var VBLID = 0;
            var IntRow = 0;
            for (var i = 0; i < CntrTxnsRec.length; i++) {

                if (CntrTxnsRec[i].ChkFlag == 1) {
                    IntRow = true;
                    break;

                }
                else {

                    IntRow = false;
                }
               
              
            }
            if (IntRow == false) {
                validation += "<span style='color:red;'>*</span> <span>Please Check CheckBox </span></br>"
            }

            //for (var i = 0; i < CntrTxnsRec.length; i++) {
            //    if (CntrTxnsRec[i].ChkFlag == 1) {
            //        if (VBLID != 0) {
            //            if (CntrTxnsRec[i].BLID != VBLID) {
            //                VBLID = CntrTxnsRec[i].BLID;
            //                validation = "<span style='color:red;'>*</span> <span>Please UnCheck BLNumber Different </span></br>"
            //            }
            //            else {
            //                VBLID = CntrTxnsRec[i].BLID;
            //            }
            //        }
            //        else {
            //            VBLID = CntrTxnsRec[i].BLID;
            //        }

            //    }
            //}

          
            if (validation != "") {

                ShowPopup(validation);
                return false;
            }

            localStorage.setItem("FromStatusCode", $("#ddlStatuscode option:selected").text());

            var Items = []
            for (var i = 0; i < $scope.CntrTxnsRec.length; i++) {

                if ($scope.CntrTxnsRec[i].ChkFlag==1) {

                    var Id = $scope.CntrTxnsRec[i].CntrID;
                    Items.push(Id);

                    localStorage.setItem("FromLocID", $scope.CntrTxnsRec[i].FromPortID);
                    localStorage.setItem("AgentID", $scope.CntrTxnsRec[i].AgencyID);
                    //localStorage.setItem("DepotID", $scope.CntrTxnsRec[i].DepotID);
                    //localStorage.setItem("TransitID", $scope.CntrTxnsRec[i].ModeOfTransportID);
                    //localStorage.setItem("BLID", $scope.CntrTxnsRec[i].BLID);
                    //localStorage.setItem("CustomerID", $scope.CntrTxnsRec[i].CustomerID);
                    //localStorage.setItem("VesVoyID", $scope.CntrTxnsRec[i].VesVoyID);
                    localStorage.setItem("AgencyGeoLocID", $scope.CntrTxnsRec[i].AgencyGeoLocID);
                }

            }
            var url = "/Container/ContainerMovementEntry?CntrID=" + Items.toString();
            window.location.href = url;
        }
        $scope.ClearRecords = function () {
            //$("#ddlCntrNo").val(null).trigger("change");
            var url = "/Container/ContainerMovementEntryView";
            window.location.href = url;
        }

        $scope.FileUploadingWindows = function () {
           //var UserID = localStorage.getItem("UserID");
           // var left = (screen.width / 2) - (400 / 2);
           // var top = (screen.height / 2) - (300 / 2);
           // return window.open("../TempCntrMovementUpload.aspx?UserID="+ UserID, 'window', 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, width=400, height=300, top=' + top + ', left=' + left);
        }

        $scope.CheckBoxHeadChecked = function (checked) {

            for (var i = 0; i < $scope.CntrTxnsRec.length; i++) {

                $scope.CntrTxnsRec[i].ChkFlag = checked;

            }
        };

        $scope.btnExcel = function () {

             var CntrID = $("#ddlCntrNo").val();
               var TypeID = $("#ddlSizeType").val();
               var LocationID = $("#ddlFromLoc").val();
            var StatusCode = $("#ddlStatuscode option:selected").text();
               var VesVoyID = $("#ddlVesVoy").val();
               var User = localStorage.getItem("UserName");

         window.location.href = '@Url.Action("InventoryMovementExcel", "ContainersExcel")?CntrID=' + CntrID + "&TypeID=" + TypeID + "&LocationID=" + LocationID + "&StatusCode=" + StatusCode + "&VesVoyID=" + VesVoyID + "&User=" + User;


        }
    });

    function ShowPopup(message) {
        swal(message);
    };

</script>


<div ng-app="MyApp" ng-controller="MyController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <button type="submit" ng-click="AddNew();" class="btn btn-fill btn-success btn-round btntop">
                    <i class="material-icons">reply</i> Back

                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Bulk Movement Entry</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="col-md-12 padlr0" style="text-align:right;">
                            @*<a href="#" ng-click="FileUploadingWindows();" class="btn btn-fill btn-success btnuploadfile btnadd btntop" style="margin-right:0;">
                                <i class="material-icons">upload</i> Upload
                            </a>*@
                          
                            @*<a href="#" ng-click="btnExcel();" class="btn btn-fill btn-danger btnuploadfile btnadd btntop" style="margin-right:0;">
                                <i class="material-icons">download</i> Download Excel
                            </a>*@

                        </div>
                        <div class="row">

                            <div class="col-md-12" style="border:1px solid #ccc;">
                                <div class="row">
                                    <div class="col-md-8" style="border-right:1px solid #ccc;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Container Number</label>
                                                    @*<select class="form-control my-select" ng-model="ddlCntrNo" id="ddlCntrNo" ng-options="item.CntrNo for item in CntrNoList track by item.ID">
        </select>*@
                                                    <textarea class="form-control" type="text" id="txtCntrNo" ng-model="txtCntrNo"></textarea>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-md-4" style="border-right:1px solid #ccc;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Container Size Type </label>
                                                    <select class="form-control my-select" ng-model="ddlSizeType" id="ddlSizeType" ng-options="item.Size for item in CntrSizeTypes track by item.TypeID" required>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label>Vessel Voyage</label>
                                                    <select class="form-control my-select" ng-model="ddlVesVoy" id="ddlVesVoy" ng-options="item.VesVoy for item in VesVoyList track by item.ID" required></select>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12" style="border:1px solid #ccc;">
                                <div class="row">
                                    <div class="col-md-4" style="border-right:1px solid #ccc;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label> Location</label>

                                                    <select class="form-control my-select" ng-model="ddlFromLoc" id="ddlFromLoc" ng-options="item.PortName for item in PortList track by item.ID" required>
                                                    </select>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4" style="border-right:1px solid #ccc;">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label> StatusCode</label>
                                                    <select class="form-control my-select" ng-model="ddlStatuscode" id="ddlStatuscode" ng-options="item.StatusCode for item in CntrStatusCodes track by item.ID" required></select>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-12 padlr0" style="margin-top: 19px;">
                                            <button type="submit" ng-click="BindCntrTxnsRecords();" class="btn btn-fill btn-primary" style="width:32%;">Search</button>
                                            <button type="submit" ng-click="ClearRecords();" class="btn btn-fill btn-danger" style="width:32%;">Clear</button>
                                            <button type="submit" ng-click="Next(CntrTxnsRec);" class="btn btn-fill btn-success" style="width:32%;">Next</button>
                                            <br />
                                            <p ng-bind="msg"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>

                        @*<div class="row">
            <div class="col-md-3">
                <input type="file" name="file" class="form-control"
                       onchange="angular.element(this).scope().loadFile(this.files)">
                <br /><br />
            </div>
        </div>*@



                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="material-datatables" style="border: 1px solid #ccc; padding: 5px; overflow:scroll;height:430px;">

                                    <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" ng-change="CheckBoxHeadChecked(CntrIDCheck);" ng-true-value="1" ng-false-value="0" ng-model="CntrIDCheck" id="CntrIDCheck" />  </th>
                                                <th>Container No</th>
                                                <th>Size Type</th>
                                                <th>Status</th>
                                                <th>DtMovement</th>
                                                <th>Agency</th>
                                                <th>Location</th>
                                                <th>Vessel/Voyage</th>
                                                <th>Transit </th>
                                                <th>Depot</th>
                                                <th>BL Number</th>
                                                <th>Customer</th>
                                                @*<th class="disabled-sorting text-right">Actions</th>*@
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="i in CntrTxnsRec | filter : paginate | orderBy:'-Statusv'">
                                                <td> <input type="checkbox" id="ChkFlag" value="{{i.CntrID}}" ng-model="i.ChkFlag" ng-true-value="1" ng-false-value="0" /></td>
                                                <td>{{i.CntrNo}}</td>
                                                <td>{{i.Size}}</td>
                                                <td>{{i.StatusCode}}</td>
                                                <td>{{i.DtMovement}}</td>
                                                <td>{{i.AgencyName}}</td>
                                                <td>{{i.FromPort}}</td>
                                                <td>{{i.VesVoy}}</td>
                                                <td>{{i.TransitMode}}</td>
                                                <td>{{i.Depot}}</td>
                                                <td>{{i.BLNumber}}</td>
                                                <td>{{i.CustomerName}}</td>


                                            </tr>
                                        </tbody>
                                    </table>
                                    <div id="notFoundDiv" ng-show="(CntrTxnsRec|filter:CntrNo).length==0" style="color: red; font-weight: bold">No Records Found</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


<script>
    $(document).ready(function () {
        $('.my-select').select2({
            placeholder: "--Select--",
            allowClear: true,
            width: '100%'
        });
    });

</script>
