@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $('.my-select').select2({
            placeholder: "--Select--",
            allowClear: true,
            width: '100%'
        });

    });
    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {


        $('#overlay').fadeIn().delay(300).fadeOut();
        $scope.HDArrayIndex = "";

        $scope.StatusBindValues = [

            { 'name': 'Active', 'ID': 1 },
            { 'name': 'InActive ', 'ID': 2 }
        ];
        $scope.TariffAllValues = null;

        $scope.fillTariffAllValues = function ()
        {
            var Datavalue = {};
            Datavalue.ID = "71"; //GeneralMaster Table seqNo
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ModuleValues/',
                data: JSON.stringify(Datavalue)
            }).then(function (result) {
                $timeout(function () {
                    $scope.TariffAllValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillTariffAllValues();

        $scope.CntrSizeTypes = null;
        $scope.fillCntrSizeTypes = function () {
            $http({
                method: 'POST',
                url: '/api/ContainerApi/CntrTypeSize/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CntrSizeTypes = result.data;

                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillCntrSizeTypes();

        $scope.ChargeCodeAllvalues = null;
        $scope.fillChargecodeValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ChargeCode/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.ChargeCodeAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillChargecodeValues();

        $scope.ChageOwnerAllValues = null;
        $scope.fillChageOwnerAllValues = function () {
            var Datavalue = {};
            Datavalue.ID = "11"; //GeneralMaster Table seqNo
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ModuleValues/',
                data: JSON.stringify(Datavalue)
            }).then(function (result) {
                $timeout(function () {
                    $scope.ChageOwnerAllValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillChageOwnerAllValues();

        $scope.AutoRunTypeAllValues = null;
        $scope.fillAutoRunTypeAllValues = function () {
            var Datavalue = {};
            Datavalue.ID = "33"; //GeneralMaster Table seqNo
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ModuleValues/',
                data: JSON.stringify(Datavalue)
            }).then(function (result) {
                $timeout(function () {
                    $scope.AutoRunTypeAllValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillAutoRunTypeAllValues();

        $scope.CntrMovementAllValues = null;
        $scope.fillCntrMovementAllValues = function () {

            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/CntrMovementMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CntrMovementAllValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillCntrMovementAllValues();

        $scope.ChargeTypeAllValues = null;
        $scope.fillChargeTypeAllValues = function () {
            var Datavalue = {};
            Datavalue.ID = "34"; //GeneralMaster Table seqNo
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ModuleValues/',
                data: JSON.stringify(Datavalue)
            }).then(function (result) {
                $timeout(function () {
                    $scope.ChargeTypeAllValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillChargeTypeAllValues();

        $scope.CurrencyValue = null;
        $scope.fillCurrencyValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/CurrencyValues/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CurrencyValue = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillCurrencyValues();

        $scope.PortAllvalues = null;
        $scope.fillPortsValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/PortValues/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.PortAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillPortsValues();

        $scope.ShipmentTypeAllvalues = null;
        $scope.fillShipmentTypeValues = function () {
            var Datavalue = {};
            Datavalue.ID = "1"; //GeneralMaster Table seqNo
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/ModuleValues/',
                data: JSON.stringify(Datavalue)
            }).then(function (result) {
                $timeout(function () {
                    $scope.ShipmentTypeAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillShipmentTypeValues();

        $scope.CustomerMasterAllvalues = null;
        $scope.fillCustomerMasterValues = function () {

            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/CustomerMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.CustomerMasterAllvalues = result.data;



                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillCustomerMasterValues();

        $scope.TerminalValues = null;
        $scope.fillTerminalValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/TerminalMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.TerminalValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillTerminalValues();

        $scope.DepotMasterValues = null;
        $scope.fillDepotValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/DepotMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.DepotMasterValues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillDepotValues();



        $scope.DynamicGrid = [{ CID: "", SlabFrom: "", SlabTo: "", CurrencyID: "",Amount: "" }];
       // $scope.DynamicGrid.splice(0, 1);

        $scope.Add = function (gRow, index)
        {


            if (gRow.CurrencyID == "") {
                swal("Please Select Currency");
                return;
            }

            var SlbV = parseFloat(gRow.SlabTo) + 1;


            $scope.DynamicGrid.push({
                'CID': "",
                'SlabFrom':SlbV,
                'SlabTo':"",
                'CurrencyID': "",
                'Amount': ""

            });

        }

        $scope.RemoveRent = function (DynamicGrid, index, TID, gRow) {

            var BussData = {};
            BussData.CID = TID;
            if (index != 0) {
                var ff = $scope.DynamicGrid[index - 1].SlabTo;
                $scope.DynamicGrid[index + 1].SlabFrom = parseInt(ff) + 1;
            }
            else {
                $scope.DynamicGrid.splice(index, 1);
            }
            $http({

                method: 'POST',
                url: '/api/ContainerAPi/StorageTariffDelete/',
                data: JSON.stringify(BussData),
            }).then(function (result) {
                $timeout(function () {
                    $scope.BindRentTariffRecords($scope.HdRentID);
                });
            });

        }


        $scope.RentSave = function (data) {
          var validation = "";


            var ddlTariffType = $('#ddlTariffType').val();
            if (ddlTariffType == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Tariff Type</span></br>"
            }
            var ddlSizeType = $('#ddlSizeType').val();
            if (ddlSizeType == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Container Type</span></br>"
          }
          var ddlChargeType = $('#ddlChargeType').val();
            if (ddlChargeType == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Charge Type</span></br>"
          }
          var ddlCharges = $('#ddlCharges').val();
            if (ddlCharges == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Charges</span></br>"
          }
           var ddlChargeOwner = $('#ddlChargeOwner').val();
            if (ddlChargeOwner == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Charge Owner</span></br>"
          }
           var ddlShipmentType = $('#ddlShipmentType').val();
            if (ddlShipmentType == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Select Shipment Type</span></br>"
          }

            var txtDtValidFrom = $('#txtDtValidFrom').val();
            if (txtDtValidFrom.length == 0) {
                validation += "<span style='color:red;'>*</span> <span>Please Enter Valid From Date</span></br>"
            }
            var txtDtValidTill = $('#txtDtValidTill').val();
            if (txtDtValidTill.length == 0) {
                validation += "<span style='color:red;'>*</span> <span>Please Enter Valid Till Date</span></br>"
            }
            if (validation != "") {
                ShowPopup(validation);
                return false;
            }

            $('#overlay').show();
            var BussData = {}
            var Items =[]

            if ($scope.HdRentID == "")
                BussData.ID = 0;
            else
          BussData.ID = $scope.HdRentID;
          BussData.TariffTypeID = $('#ddlTariffType').val();
          BussData.ContainerType = $('#ddlSizeType').val();
          BussData.ChargeTypeID = $('#ddlChargeType').val();
          BussData.ChargesID = $('#ddlCharges').val();
          BussData.ChargeOwnerID = $('#ddlChargeOwner').val();
          BussData.ShipmentTypeID = $('#ddlShipmentType').val();
          BussData.PortID = $('#ddlPort').val();
          BussData.CustomerID = $('#ddlCustomer').val();
          BussData.TerminalID = $('#ddlTerminal').val();
          BussData.DepotID = $('#ddlDepot').val();
          BussData.StartingMove = $('#ddlStartingMove').val();
          BussData.EndingMove = $('#ddlEndingMove').val();
          BussData.AutoRunTypeID = 0;
          BussData.ValidFrom = $('#txtDtValidFrom').val();
          BussData.ValidTill = $('#txtDtValidTill').val();
          BussData.Status = $('#ddlStatus').val();
            BussData.UserID = localStorage.getItem("UserID");
            BussData.AgencyID = localStorage.getItem("AgencyID");


            angular.forEach(data, function (value, key)
            {
               var intCID = data[key].CID;
                if (typeof data[key].CID == "undefined") {
                    intCID = 0;
                }

                Items.push('Insert:' + intCID, data[key].SlabFrom, data[key].SlabTo, data[key].CurrencyID.ID, data[key].Amount);

            });


            BussData.Itemsv1 = Items.toString();
            $http({
                method: 'POST',
                url: "/api/ContainerApi/StorageContract",
                data: JSON.stringify(BussData),

            }).then(function (result) {
                $timeout(function () {
                   // $scope.HdRentID = result.data[0].ID;

                    if (result.data.length > 0) {
                        $('#overlay').hide();
                        ShowPopup("Container Rental Contarct Saved Successfully");
                        var url = "/Container/StorageContractView";
                        window.setTimeout(window.location.href = url, 1000000);
                    }
                    else {
                        $('#overlay').hide();
                        ShowPopup("Error,Not Saved");
                    }
                });
            });

        }

        $scope.ClickCopyTraiff = function () {

            $scope.HdRentID = 0;
            ShowPopup('Copy Tariff successfully');

        }

        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;
                }
            }
              if (queryString["ContRent"] != null)
              {
                $scope.HdRentID = queryString["ContRent"].toString();
                $scope.BindRent(queryString["ContRent"].toString());
                $scope.BindRentTariffRecords(queryString["ContRent"].toString());
            }
         });

        $("#ddlTariffType").change(function () {

            if ($("#ddlTariffType").val() == "96") {
                document.getElementById("ddlPort").disabled = true;
               // document.getElementById("ddlCustomer").disabled = true;
               // document.getElementById("ddlTerminal").disabled = true;
                document.getElementById("ddlDepot").disabled = true;
            }
            else {
                document.getElementById("ddlPort").disabled = false;
               // document.getElementById("ddlCustomer").disabled = false;
               // document.getElementById("ddlTerminal").disabled = false;
                document.getElementById("ddlDepot").disabled = false;
            }

        });
        $scope.BindRent = function (ContRentID) {

                var Datavalue = {};
                var id = ContRentID;
                if (id == "" || id == null)
                Datavalue.ID = 0;
            else
                 Datavalue.ID = ContRentID;


                $http({
                    method: 'POST',
                    url: '/api/ContainerApi/StorageContractEdit/',
                    data: JSON.stringify(Datavalue),
                }).then(function (result) {
                    $timeout(function () {

                        if (Datavalue.ID != "") {
                            $scope.ddlTariffType = { ID: result.data[0].TariffTypeID };
                            $scope.ddlSizeType = { TypeID: result.data[0].ContainerType };
                            $scope.ddlChargeType = { ID: result.data[0].ChargeTypeID };
                            $scope.ddlCharges = { ID: result.data[0].ChargesID };
                            $scope.ddlChargeOwner = { ID: result.data[0].ChargeOwnerID };
                            $scope.ddlShipmentType = { ID: result.data[0].ShipmentTypeID };

                            $scope.ddlStartingMove = { ID: result.data[0].StartingMove };
                            $scope.ddlEndingMove = { ID: result.data[0].EndingMove };
                            $scope.ddlAutoRunType = { ID: result.data[0].AutoRunTypeID };

                            document.getElementById("txtDtValidFrom").value = result.data[0].ValidFrom;
                           // $scope.txtDtValidFrom = result.data[0].ValidFrom;
                            document.getElementById("txtDtValidTill").value = result.data[0].ValidTill;
                           // $scope.txtDtValidTill = result.data[0].ValidTill;
                            $scope.ddlStatus = { ID: result.data[0].Status };

                            if (result.data[0].TariffTypeID == 96) {

                                $scope.ddlPort = { ID: 0};
                                $scope.ddlCustomer = { ID: 0};
                                $scope.ddlTerminal = { ID: 0};
                                $scope.ddlDepot = { ID: 0 };

                                document.getElementById("ddlPort").disabled = true;
                document.getElementById("ddlCustomer").disabled = true;
                document.getElementById("ddlTerminal").disabled = true;
                                document.getElementById("ddlDepot").disabled = true;
                            }
                            else {
                                $scope.ddlPort = { ID: result.data[0].PortID };
                                $scope.ddlCustomer = { ID: result.data[0].CustomerID };
                                $scope.ddlTerminal = { ID: result.data[0].TerminalID };
                                $scope.ddlDepot = { ID: result.data[0].DepotID };
                                 document.getElementById("ddlPort").disabled = false;
                document.getElementById("ddlCustomer").disabled = false;
                document.getElementById("ddlTerminal").disabled = false;
                document.getElementById("ddlDepot").disabled = false;
                            }

                        }
                        else {

                        }

                    });
                    }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
                });


            }

         $scope.BindRentTariffRecords = function (ContRentID) {

            var BussData = {}

            BussData.RentID = ContRentID;


            $http({
                method: 'POST',
                url: "/api/ContainerApi/StorageContractTariffDtls",
                data: JSON.stringify(BussData),
            }).then(function (result)
            {



                $timeout(function () {


                    if (result.data.length > 0) {
                        if (result.data[0].CurrencyID != "") {
                            $scope.DynamicGrid.splice(0, 1);
                        }

                        angular.forEach(result.data, function (value, key) {

                            $scope.DynamicGrid.push({
                                'CID': result.data[key].CID,
                                'SlabFrom': result.data[key].SlabFrom,
                                'SlabTo': result.data[key].SlabTo,
                                'CurrencyID': { ID: result.data[key].CurrencyID },
                                'Amount': result.data[key].Amount

                            });

                        });
                    }
                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            });

        }
    });

    function ShowPopup(message) {
        swal(message);
    };

</script>

<div ng-app="MyApp" ng-controller="MyController">

    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <a href="/Container/StorageContractView" type="submit" class="btn btn-fill btn-success btn-round btntop">
                    <i class="material-icons">reply</i> Back

                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">

                        <div class="card-text">
                            <h4 class="card-title">Storage Contract</h4>
                        </div>
                        <div class="row">
                            <div class="col-md-12 download" style="text-align:right;">
                                <button type="submit" id="btnCopyTraiff" ng-click="ClickCopyTraiff();" class="btn btn-fill btn-success">
                                    <i class="material-icons">
                                        content_copy
                                    </i>
                                    Copy Tariff
                                </button>

                            </div>
                            <div>

                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Tariff Type</label>
                                            <select class="form-control my-select" ng-model="ddlTariffType" id="ddlTariffType" options="{ allowClear: true }" ng-options="item.GeneralName for item in TariffAllValues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Container Type</label>
                                            <select class="form-control my-select" ng-model="ddlSizeType" id="ddlSizeType" ng-options="item.Size for item in CntrSizeTypes track by item.TypeID" required>
                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Charge Type</label>
                                            <select class="form-control my-select" ng-model="ddlChargeType" id="ddlChargeType" ng-options="item.GeneralName for item in ChargeTypeAllValues track by item.ID" required>
                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Charges</label>
                                            <select class="form-control my-select" ng-model="ddlCharges" id="ddlCharges" ng-options="item.ChargeCode for item in ChargeCodeAllvalues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Charge Owner</label>
                                            <select class="form-control my-select" ng-model="ddlChargeOwner" id="ddlChargeOwner" ng-options="item.GeneralName for item in ChageOwnerAllValues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Shipment Type</label>
                                            <select class="form-control my-select" ng-model="ddlShipmentType" id="ddlShipmentType" options="{ allowClear: true }" ng-options="item.GeneralName for item in ShipmentTypeAllvalues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Port</label>
                                            <select class="form-control my-select" ng-disabled="ddlPortDisable" ng-model="ddlPort" id="ddlPort" ng-options="item.PortName for item in PortAllvalues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Customer</label>
                                            <select class="form-control my-select" ng-model="ddlCustomer" id="ddlCustomer" ng-options="item.CustomerName for item in CustomerMasterAllvalues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>*@

                            @*<div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Terminal</label>
                                            <select class="form-control my-select" ng-model="ddlTerminal" id="ddlTerminal" ng-options="item.TerminalName for item in TerminalValues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>*@

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Depot</label>
                                            <select class="form-control my-select" ng-model="ddlDepot" id="ddlDepot" ng-options="item.DepName for item in DepotMasterValues track by item.ID" required>
                                            </select>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>
                                                Starting Move <span style="padding-left: 93px;font-size: 17px;">
                                                    @*<a href="#" style="color:#053af9;" data-toggle="modal" data-target="#Starting"><i class="fa fa-plus"></i> Add</a>*@
                                                </span>
                                            </label>
                                            <select class="form-control my-select" ng-model="ddlStartingMove" id="ddlStartingMove" ng-options="item.CntrStatus for item in CntrMovementAllValues track by item.ID" required>
                                            </select>
                                            <div class="modal" id="Starting">
                                                <div class="modal-dialog">
                                                    <div class="modal-content" style="width:280px; margin:0 auto;">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">Start Move</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body" style="padding-bottom:0;border-bottom: 1px solid #ccc;margin-bottom:6px;">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label>Start Move</label>
                                                                                <select class="form-control my-select" ng-model="ddlStartMove" id="ddlStartMove" ng-options="item.CntrStatus for item in CntrMovementAllValues track by item.ID" required>
                                                                                </select>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12" style="text-align:right;">
                                                                    <a href="#" class="btn btn-success" style="padding: 7px 25px;margin-top:-2px;"><i class="fa fa-plus"></i> Add</a>
                                                                    <a href="#" class="btn btn-danger" style="padding: 7px 25px;margin-top:-2px;"><i class="fa fa-trash"></i> Delete</a>
                                                                </div>
                                                            </div>


                                                        </div>

                                                        <!-- Modal footer -->
                                                        <div class="modal-footer" style="display:initial;">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="material-datatables">

                                                                                    <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>S.No</th>
                                                                                                <th>Start Move</th>
                                                                                        </thead>

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                            </tr>

                                                                                        </tbody>
                                                                                    </table>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Ending Move <span style="padding-left:93px;font-size: 17px;"><a href="#" style="color:#053af9;" data-toggle="modal" data-target="#Ending"><i class="fa fa-plus"></i> Add</a></span></label>
                                            <select class="form-control my-select" ng-model="ddlEndingMove" id="ddlEndingMove" ng-options="item.CntrStatus for item in CntrMovementAllValues track by item.ID" required>
                                            </select>
                                            <div class="modal" id="Ending">
                                                <div class="modal-dialog">
                                                    <div class="modal-content" style="width:280px; margin:0 auto;">

                                                        <!-- Modal Header -->
                                                        <div class="modal-header">
                                                            <h4 class="modal-title">End Move</h4>
                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        </div>

                                                        <!-- Modal body -->
                                                        <div class="modal-body" style="padding-bottom:0;border-bottom: 1px solid #ccc;margin-bottom:6px;">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label>End Move</label>
                                                                                <select class="form-control my-select" ng-model="ddlStartMove" id="ddlStartMove" ng-options="item.CntrStatus for item in CntrMovementAllValues track by item.ID" required>
                                                                                </select>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-12" style="text-align:right;">
                                                                    <a href="#" class="btn btn-success" style="padding: 7px 25px;margin-top:-2px;"><i class="fa fa-plus"></i> Add</a>
                                                                    <a href="#" class="btn btn-danger" style="padding: 7px 25px;margin-top:-2px;"><i class="fa fa-trash"></i> Delete</a>
                                                                </div>
                                                            </div>


                                                        </div>

                                                        <!-- Modal footer -->
                                                        <div class="modal-footer" style="display:initial;">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <div class="row">

                                                                            <div class="col-md-12">
                                                                                <div class="material-datatables">

                                                                                    <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                                                        <thead>
                                                                                            <tr>
                                                                                                <th>S.No</th>
                                                                                                <th>End Move</th>
                                                                                        </thead>

                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td></td>
                                                                                                <td></td>
                                                                                            </tr>

                                                                                        </tbody>
                                                                                    </table>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Auto Run Type</label>
                                                <select class="form-control my-select" ng-model="ddlAutoRunType" id="ddlAutoRunType" ng-options="item.GeneralName for item in AutoRunTypeAllValues track by item.ID" required>
                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Valid From</label>
                                            <input type="date" id="txtDtValidFrom" autocomplete="off" ng-model="txtDtValidFrom" class="form-control">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Valid Till </label>

                                            <input type="date" id="txtDtValidTill" autocomplete="off" ng-model="txtDtValidTill" class="form-control">

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Status</label>
                                            <select class="form-control my-select" id="ddlStatus" ng-model="ddlStatus" options="{ allowClear: true }" ng-options="item.name for item in StatusBindValues track by item.ID">
                                            </select>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <h5 class="cardtitle">Tariff Details</h5>
                            </div>


                        </div>




                        <div class="row">
                            <div class="col-md-12">
                                <div class="material-datatables">



                                    <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>S.No</th>
                                                <th>Slab From</th>
                                                <th>Slab To</th>
                                                <th>Currency</th>
                                                <th>Amount</th>

                                                <th class="disabled-sorting text-right actwid">Actions</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="gRow in DynamicGrid">
                                                <td>{{$index+1}}</td>

                                                <td>
                                                    <input type="text" id="txtSlabFrom" class="form-control" maxlength="4" ng-model="gRow.SlabFrom" />
                                                </td>

                                                <td>
                                                    <input type="text" id="txtSlabTo" class="form-control" maxlength="4" ng-model="gRow.SlabTo" />
                                                </td>
                                                <td>
                                                    <select class="form-control" ng-model="gRow.CurrencyID" id="ddlCurrency" ng-options="item.Currency for item in CurrencyValue track by item.ID">
                                                    </select>
                                                </td>
                                                <td><input type="text" id="txtAmt" class="form-control amtrgt" ng-model="gRow.Amount" /></td>

                                                <td style="display:none;"><input type="hidden" id="HDID" class="form-control" ng-model="gRow.CID" /></td>



                                                <td class="td-actions text-right actwid">
                                                    <button type="button" rel="tooltip" ng-if="$last" ng-click="Add(gRow,$index)" class="btn btn-primary btn-round" data-original-title="" title="">
                                                        <i class="material-icons">add</i>
                                                    </button>
                                                    <button type="button" rel="tooltip" ng-if="!$last" ng-click="RemoveRent(DynamicGrid,$index,gRow.CID,gRow)" class="btn btn-danger btn-round" data-original-title="" title="">
                                                        <i class="material-icons">delete</i>
                                                    </button>
                                                    <input type="hidden" ng-model="HdCID" id="HdCID" />
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align:right;">

                               
                                <button type="submit" class="btn btn-fill btn-success" ng-click="RentSave(DynamicGrid);">
                                    <i class="material-icons">save</i>
                                    Save
                                </button>
                                <input type="hidden" id="HdRentID" ng-model="HdRentID" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // initialise Datetimepicker and Sliders
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',

        });
    });
</script>


