@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {

        $('#overlay').fadeIn().delay(300).fadeOut();

        $scope.viewPage = null;
        $scope.fillviewPage = function ()
        {
            var BussData = {};
            BussData.InvoiceNo = $scope.txtInvoiceNo;
            BussData.PartyName = $scope.txtVendorName;
            $http({
                method: 'POST',
                url: '/api/VendorApi/VendorInvoiceSearch/',
                data: JSON.stringify(BussData),
            }).then(function (result) {
                $timeout(function () {
                    $scope.viewPage = result.data;
                    $scope.totalItems = $scope.viewPage.length;
                    $scope.currentPage = 1;
                    $scope.numPerPage = 8;
                    $scope.paginate = function (value) {
                        var begin, end, index;
                        begin = ($scope.currentPage - 1) * $scope.numPerPage;
                        end = begin + $scope.numPerPage;
                        index = $scope.viewPage.indexOf(value);
                        return (begin <= index && index < end);
                    };


                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillviewPage();


        $scope.ViewRecords = function () {

            $scope.fillviewPage();
        }

        $scope.InvoiceViewPage = function (Id) {


            var url = "/VendorBill/VendorBillCreate?RegID=" + encodeURIComponent(Id);
            window.location.href = url;

        }
    }

    );

    function ShowPopup(message) {
        swal(message);
    };


</script>
<style>
    .card-stats .card-header.card-header-icon i {
        color: #ffffff !important;
        font-size: 38px !important;
    }

    .card.card-stats.card-cancelled {
        background-color: #f34394;
        margin-bottom: 0;
    }
</style>
<div ng-app="MyApp" ng-controller="MyController">
    <div class="row">
        <div class="col-md-12 addbtn" style="text-align:right;">
            
            <a href="/VendorBill/VendorBillCreate" class="btn btn-fill btnadd btn-success btn-round btntop">
                <i class="material-icons">add</i> Create New
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        VENDOR BILL DETAILS
                    </div>

                </div>
               
                <div class="card-body">
                    <div class="toolbar">
                    </div>
                    <div class="material-datatables" style="width:100%;overflow:scroll;">

                        <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Inv.No</th>
                                    <th>Invoice Date</th>
                                    <th>Vendor Name</th>
                                    <th>Currency</th>
                                    <th>Invoice Amt</th>
                                    <th>Status</th>
                                    <th>Dispute</th>
                                    <th>Dispute Details</th>
                                    <th>Dispute on</th>
                                    <th>Dispute By</th>
                                    <th>Vessel</th>
                                    <th>Voyage</th>
                                    <th>File Name</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="i in viewPage | filter : paginate | orderBy:'-Statusv'">
                                    <td>{{numPerPage *(currentPage-1)+$index+1}}</td>
                                    <td>{{i.InvoiceNo}}</td>
                                    <td>{{i.invDate}}</td>
                                    <td>{{i.PartyName}}</td>
                                    <td>{{i.Currency}}</td>
                                    <td>{{i.InvAmount}}</td>
                                    <td>{{i.Status}}</td>
                                    <td>{{i.Dispute}}</td>
                                    <td>{{i.DisputeDetails}}</td>
                                    <td>{{i.DisputeOn}}</td>
                                    <td>{{i.DisputeBy}}</td>
                                    <td>{{i.VesselName}}</td>
                                    <td>{{i.VoyageNo}}</td>
                                    <td>{{i.FileName}}</td>


                                    <td class="td-actions text-right">

                                        <button type="button" ng-click="InvoiceViewPage(i.ID);" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <p>Showing <span style="padding-left:5px; padding-right:3px;">1</span>to<span style="padding-left:3px; padding-right:3px;">10</span>of<span style="padding-left:3px; padding-right:3px;">40</span>entries</p>
                            </div>
                            <div class="col-md-7" style="text-align:right;">
                                <pagination total-items="totalItems" ng-model="currentPage"
                                            max-size="10" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
                                </pagination>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <input type="text" id="txtInvoiceNo" ng-model="txtInvoiceNo" class="form-control" placeholder="InvoiceNo">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <input type="text" id="txtVendorName" ng-model="txtVendorName" class="form-control" placeholder="Vendor Name">
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <button type="submit" ng-click="ClearRecords();" class="btn btn-fill btn-danger searchbtn">Clear</button>
                            <button type="submit" ng-click="ViewRecords();" class="btn btn-fill btn-rose searchbtn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

