@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {

        $(document).ready(function () {

            $('.my-select').select2({
                placeholder: "--Select--", allowClear: true, width: '100%'
            });

        });

        $scope.BLNumberlist = null;
        $scope.fillBlNumber = function ()
        {
            var Datavalue = {};
            Datavalue.AgencyID = localStorage.getItem("AgencyID");
            $http({
                method: 'POST',
                url: '/api/OnBard_shipment/BLNumbervalues/',
                data: JSON.stringify(Datavalue),
            }).then(function (result) {
                $timeout(function () {
                    $scope.BLNumberlist = result.data;
                });
            }, function (result) {

                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected. Please reconnect and try again.");
                }
            });

        };
        $scope.fillBlNumber();

        $scope.CertificateTypes = [
            { 'name': '--select--', 'ID': 0 },
            { 'name': 'Vessel Certificate', 'ID': 1 },

        ];

        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;
                }
            }
            if (queryString["BLID"] != null)
            {
                $scope.ExistingVesselVoyage(queryString["BLID"]);
                $("#overlay").hide();
            }
        });




        $("#ddlBLNumber").change(function () {
            var BussData = {}
            BussData.BLID = $("#ddlBLNumber").val();
            $http({

                method: 'POST',
                url: '/api/OnBard_shipment/VesselCertificateVesselName/',
                data: JSON.stringify(BussData),
            }).then(function (result) {

                $scope.BLVesselVoyage = result.data[0].Voyage;
            });


        });


        $scope.RecordSave = function()
        {
            var BussData = {}
            BussData.BLID = $("#ddlBLNumber").val();
            BussData.Date = $("#txtDate").val();
            BussData.CertificateType = $("#ddlCertificateType").val();
            BussData.CertificateTitle = $("#CertificateTitle").val();
            BussData.VSLVoyage = $scope.BLVesselVoyage;
            BussData.Subject = $scope.txtSubject;
            $http({

                method: 'POST',
                url: '/api/OnBard_shipment/VslVoyageCertificateInsert/',
                data: JSON.stringify(BussData),
            }).then(function (result) {

                ShowPopup(result.data[0].AlertMessage);
                return;

            });
        }

        $scope.ExistingVesselVoyage = function (BLID) {

            var BussData = {}
            BussData.BLID = BLID;
            $http({

                method: 'POST',
                url: '/api/OnBard_shipment/ExistingVslVoyageCertificate/',
                data: JSON.stringify(BussData),
            }).then(function (result) {

                $scope.ddlBLNumber = { ID: result.data[0].BLID };
                //$scope.txtDate = result.data[0].Date;
                $("#txtDate").val(result.data[0].Date);
                $scope.ddlCertificateType = { ID: result.data[0].CertificateType };
                $scope.CertificateTitle = result.data[0].CertificateTitle;
                $scope.BLVesselVoyage = result.data[0].VSLVoyage;
                $scope.txtSubject = result.data[0].Subject;
            });
        }

        $scope.Print = function () {

            if ($("#ddlBLNumber").val() == "?" || $("#ddlBLNumber").val() == "")
            {
                ShowPopup("Plase check BLNumber");
                return;
            }
            var id = $("#ddlBLNumber").val();
            window.open('@Url.Action("VesselCertificatePrintPDF", "OnBoardConfirm")?id=' + id + '&AgencyID=' + localStorage.getItem("AgencyID"));
           
        }


        $scope.sendEmail = function () {
            $('#ModalEmailAlert').modal('show');
        }

        $scope.btnEmailadd = function () {

            var EmailIDs;
            if ($("#ddlBLNumber").val() == "?" || $("#ddlBLNumber").val() == "") {
                ShowPopup("Plase check BLNumber");
                return;
            }
            $('#overlay').fadeIn().show();
            var BussData = {}
            BussData.EmailTo = $scope.txtEmailsTo;
            BussData.EmailCC = $scope.txtEmailsCC;

            BussData.BLID = $("#ddlBLNumber").val();
            $http({
                method: 'POST',
                url: '/api/OnBard_shipment/VesselCertificateEmailSending/',
                data: JSON.stringify(BussData),
            }).then(function (result) {

                $('#overlay').fadeIn().hide();
                ShowPopup(result.data[0].AlertMessage);
            });
        }


    });

    function ShowPopup(message) {
        swal(message);
    };




</script>
<style>
    .modal-header {
        display: block !important;
    }

    .modal-dialog .modal-header .close {
        color: #fff !important;
        padding-right: 0px !important;
        top: -8px !important;
    }

    .btn-warning {
        padding: 8px 25px;
        margin: 0;
    }

    .btn {
        padding: 6px 20px;
    }

    .card .pickupdiv .table tr td {
        font-size: 11px;
        white-space: nowrap !important;
        border: 1px solid #ccc;
        padding-top: 1px;
        padding-bottom: 1px;
        /* font-weight: 600;*/
        background-color: #f0f8ff78;
        font-weight: 500;
    }

    .card .pickupdiv .table tr th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #21277a;
    }

    .modal-dialog .modal-header .modal-title {
        margin-top: -13px !important;
        color: #fff !important;
        font-size: 18px;
    }

    .modal-dialog .modal-header {
        background-color: #1e4383 !important;
    }
</style>
<div ng-app="MyApp" ng-controller="MyController">

    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <a href="/OnBoardConfirm/VesselCertificateSearch" type="submit" class="btn btn-fill btn-success btn-round btntop">
                    <i class="material-icons">reply</i> Back
                </a>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">

                        <div class="card-text">
                            <h4 class="card-title">Vessel Certifitcate</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" style="margin-top:0;">
                                            <div class="row">
                                                <div class="col-md-2" style="border: 1px solid #ccc; background-color: #eeeeee59; border-top: 5px solid #ebc354; ">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span style="color:red">Date</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span style="color:red">
                                                                <input type="date" id="txtDate" ng-model="txtDate" ng-bind="txtDate" autocomplete="off" class="form-control" />
                                                            </span>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-md-2" style="border: 1px solid #ccc; background-color: #eeeeee59; border-top: 5px solid #ebc354; ">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span style="color:red">Certificate Type </span>

                                                        </div>
                                                        <div class="col-md-12">
                                                            <select id="ddlCertificateType" class="form-control my-select" ng-model="ddlCertificateType" options="{ allowClear: true }" ng-options="item.name for item in CertificateTypes track by item.ID"></select>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-2" style="border: 1px solid #ccc; background-color: #eeeeee59; border-top: 5px solid #ebc354; ">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span style="color:red">Certificate Title </span>

                                                        </div>
                                                        <div class="col-md-12">
                                                            <input id="CertificateTitle" class="form-control" ng-model="CertificateTitle" />
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-md-3" style="border: 1px solid #ccc; background-color: #eeeeee59; border-top: 5px solid #ebc354; ">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span style="color:red">BLNumber</span>

                                                        </div>
                                                        <div class="col-md-12">
                                                            <select id="ddlBLNumber" class="form-control my-select" ng-model="ddlBLNumber" options="{ allowClear: true }" ng-options="item.BLNumber for item in BLNumberlist track by item.ID"></select>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-3" style="border: 1px solid #ccc; background-color: #eeeeee59; border-top: 5px solid #ebc354; ">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <span style="color:red">Vessel/Voyage</span>

                                                        </div>
                                                        <div class="col-md-12">
                                                            <span ng-bind="BLVesselVoyage"></span>
                                                        </div>
                                                    </div>
                                                </div>





                                                @*<div class="col-md-2" style="border: 1px solid #ccc; background-color:#eeeeee59; border-top: 5px solid #ebc354; ">
                                                        <div class="row">
                                                            <div class="col-md-12">

                                                            </div>
                                                            <div class="col-md-12">
                                                                <button type="submit" ng-click="sendEmail();" class="btn btn-fill btn-rose searchbtn">Send Mail</button>
                                                            </div>
                                                        </div>


                                                    </div>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="row" style="border: 1px solid #ccc; margin-top:15px;">
                            <div class="col-md-12 padlr0" style="padding:7px;">
                                <div class="material-datatables">
                                    <textarea class="form-control" style="height:200px!important;" ng-model="txtSubject"></textarea>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" ng-click="Print();" class="btn btn-fill btn-primary">Print</button>
                                <button type="submit" ng-click="sendEmail();" class="btn btn-fill btn-rose">Send Mail</button>
                                <button type="submit" ng-click="RecordSave();" class="btn btn-fill btn-success">Save</button>
                            </div>
                        </div>

                    </div>





                </div>

            </div>

        </div>





    </div>

    <div class="modal fade" id="ModalEmailAlert" tabindex="-1"
         role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog exp">
            <div class="modal-content" style="width:400px; margin:0 auto;">
                <div class="modal-header" style="background-color: #057ba7;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Vessel Certificate</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12" style="border-bottom: 1px dashed #ccc; margin-bottom:3px;">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12 padlr0">
                                        <textarea id="txtEmailsTo" autocomplete="off" rows="5" placeholder="Email" ng-model="txtEmailsTo" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 padlr0">
                                        <textarea id="txtEmailsCC" autocomplete="off" rows="5" placeholder="Email" ng-model="txtEmailsCC" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" style="text-align:center;">
                            <button type="submit" id="btnsubmit" ng-click="btnEmailadd();" class="btn btn-success">
                                <i class="material-icons">save</i>
                                Submit
                            </button>
                            <input type="hidden" id="HidIndex" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
