@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $(document).ready(function ()
        {
            $('.my-select').select2({
                placeholder: "--Select--",
                allowClear: true,
                width: '100%'
            });

        });


        $scope.PortAllvalues = null;
        $scope.fillPortsValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/BindMainPorts/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.PortAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillPortsValues();

        $scope.DynamicGrid = [{ ID: "", PortID: "", ExRate: ""}];

        $scope.RecordSave = function (data) {



            var txtDate = $('#txtDate').val();
            if (txtDate.length == 0) {
                validation += "<span style='color:red;'>*</span> <span>Please Select Effective Date</span></br>"
            }
            var BussData = {}
            var Items = []
            if ($scope.HDRegID == "")
                BussData.ID = 0;
            else
                BussData.ID = $scope.HDRegID;

            BussData.CurrentDate = $('#txtDate').val();
            angular.forEach(data, function (value, key)
            {

                Items.push('Insert:' + data[key].PortID.ID, data[key].ExRate);
            });

            BussData.Items = Items.toString();
            $http({
                method: 'POST',
                url: "/api/UserApi/InsertMISExRate",
                data: JSON.stringify(BussData),

            }).then(function (result) {
                $timeout(function () {
                    if (result.data.length > 0) {

                        ShowPopup("MIS ExRate Saved Successfully");
                        $scope.MisExchangeRateadd();
                    }

                });
            });

        }

        $scope.ExRateAdd = function (gRows) {

          
            if (gRows.PortID.ID == "") {
                swal("Please enter CntrTypes");
                return;
            }

            $scope.DynamicGrid.push({
                'ID': "",
                'PortID': "",
                'ExRate': ""
            });
        }
      
        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var params = window.location.search.split('?')[1].split('&');
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;
                }
            }
            if (queryString["StatusID"] != 1) {

                $scope.HDStatusID = queryString["StatusID"].toString();
                $scope.ExistingValuesdtlsMis();
              
            }
            if (queryString["ID"] != null)
            {
               
                $scope.ExistingValues(queryString["ID"].toString());
                $scope.ExistingValuesdtls(queryString["ID"].toString());
            }
          
        });


        $scope.ExistingValues = function (ID) {
            var Data = {};
            Data.ID = ID;
            $http({
                method: 'POST',
                url: '/api/Userapi/ExtMISExRateRecord/',
                data: JSON.stringify(Data)
            }).then(function (result) {
                $timeout(function () {
                    if (result.data.length > 0) {

                        $scope.HDRegID = result.data[0].ID;
                        document.getElementById('txtDate').value = result.data[0].EffectiveDate;
                       
                    }
                    

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        }

        $scope.ExistingValuesdtls = function (ID) {
            var Data = {};
            Data.ID = ID;
            $http({
                method: 'POST',
                url: '/api/Userapi/ExtMISExRateRecorddtls/',
                data: JSON.stringify(Data)
            }).then(function (result) {
                $timeout(function () {

                    $scope.DynamicGrid.length = 0;
                    if (result.data.length > 1) {

                        angular.forEach(result.data, function (value, key) {

                            $scope.DynamicGrid.push({
                                'ID': result.data[key].ID,
                                'PortID': { ID: result.data[key].PortID },
                                'ExRate': result.data[key].ExRate
                            });

                        });
                    }
                    else {
                        $scope.DynamicGrid.length = 1;
                    }


                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        }

        $scope.ExistingValuesdtlsMis = function ()
        {
            document.getElementById('txtDate').value = new Date().toISOString().slice(0, 10);
            var Data = {};
            Data.ID = 0;
            $http({
                method: 'POST',
                url: '/api/Userapi/ExtMISExRate/',
                data: JSON.stringify(Data)
            }).then(function (result) {
                $timeout(function () {

                    $scope.DynamicGrid.length = 0;
                    if (result.data.length > 0) {

                        angular.forEach(result.data, function (value, key) {

                            $scope.DynamicGrid.push({
                                'ID': result.data[key].ID,
                                'PortID': { ID: result.data[key].PortID },
                                'ExRate': result.data[key].ExRate
                            });

                        });
                    }
                    else {
                       // $scope.DynamicGrid.length = 1;
                    }


                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        }


        $scope.MisExchangeRateadd = function () {
            window.location = "/Masters/MISExchangeRateView?StatusID=" + 1;
        }


        $scope.ExRateDelete = function (grid, Index, Idv)
        {
            var BussData = {}
            BussData.ID = Idv;
            $scope.DynamicGrid.splice(Index, 1);
            $http({
                method: 'POST',
                url: '/api/Userapi/ExtMISExRateRecordDelete/',
                data: JSON.stringify(BussData),
            }).then(function (result)
            {
                $timeout(function ()
                {
                    $scope.ExistingValuesdtls(queryString["ID"].toString());
                    ShowPopup("Delete Ext Misc ExRate Charge Details");
                });
            });
        }

    });

    function ShowPopup(message) {
        swal(message);
    };


</script>

<style>
    .bmd-form-group [class*=" bmd-label"], .bmd-form-group [class^=bmd-label] {
        position: initial;
    }

    .nav-tabs .nav-item .nav-link.active {
        background-color: hsl(336deg 76% 50%);
        transition: background-color .3s .2s;
    }

    .nav-tabs .nav-item .nav-link {
        margin: 3px 6px;
        background-color: #20498e;
        padding: 5px 0;
    }

    .nav-tabs .nav-item {
        width: 46%;
    }

    .chargedtls label {
        font-size: 13px !important;
    }

    .nav-tabs {
        padding: 8px 0px;
        border-bottom: none !important;
    }
    /* .chargedtls
        {
            border:1px solid #ccc;
        }*/
    .card .pickupdiv .table tr td {
        font-size: 12px;
        border: 1px solid #ccc;
        padding-top: 1px;
        padding-bottom: 1px;
        /* font-weight: 600;*/
        background-color: #f0f8ff78;
        color: #333;
    }

    .card .pickupdiv .table tr th {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: #21277a;
    }

    .btncharge {
        padding: 8px 18px;
        margin: -4px 1px;
    }

    .form-control[disabled], .form-group .form-control[disabled], fieldset[disabled] .form-control, fieldset[disabled] .form-group .form-control {
        background-color: #eee;
    }
</style>
<div ng-app="MyApp" ng-controller="MyController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="text-align:right;">
                <a ng-click="MisExchangeRateadd();" class="btn btn-fill btn-success btn-round btntop">
                    <i class="fa fa-reply" style="font-size:13px;padding-top:20px;"></i>

                </a>
                @*<a href="#"  class="btn btn-fill btn-warning btn-round btntop">
                    <i class="fa fa-pencil" style="font-size:13px;padding-top:20px;"></i>
                </a>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">MIS Exchange Rate Master</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-10" style="border: 1px solid #cccc;">
                                        <div class="row" style="margin-top:20px;">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <dv class="form-group">
                                                            <div class="row">
                                                                <dv class="col-md-4">
                                                                    <label>
                                                                        Effective Date
                                                                    </label>
                                                                </dv>
                                                                <div class="col-md-8">
                                                                    <input id="txtDate" type="date" ng-model="date" class="form-control" />
                                                                </div>
                                                            </div>
                                                        </dv>
                                                       
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                            <div lass="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">

                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row" style="margin-top:20px;">

                                         
                                            <div class="col-md-12">
                                                <div class="material-datatables">

                                                    <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                                        <thead>
                                                            <tr>
                                                                <th>SNo</th>
                                                                <th>Port</th>
                                                                <th>Ex.Rate</th>
                                                                <th class="disabled-sorting text-right actwid">Actions</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <tr ng-repeat="gRow in DynamicGrid">
                                                                <td>{{$index+1}}</td>


                                                                <td>
                                                                    <select class="form-control" id="ddlPortID" ng-model="gRow.PortID" ng-options="item.PortName for item in PortAllvalues track by item.ID"></select>
                                                                </td>

                                                                <td><input  type="text" id="txtExRate" autocomplete="off" class="form-control" ng-model="gRow.ExRate" /></td>

                                                                <td class="td-actions text-right actwid">
                                                                    <button type="button" rel="tooltip" ng-if="$last" ng-click="ExRateAdd(gRow)" class="btn btn-primary btn-round" data-original-title="" title="">
                                                                        <i class="material-icons">add</i>
                                                                    </button>
                                                                    <button type="button" rel="tooltip" ng-if="!$last" ng-click="ExRateDelete(DynamicGrid,$index,gRow.ID)" class="btn btn-danger btn-round" data-original-title="" title="">
                                                                        <i class="material-icons">delete</i>
                                                                    </button>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>

                                                </div>



                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>



                        </div>

                        <div class="row">
                            <div class="col-md-12 txtright">
                                <button type="submit" ng-click="RecordSave(DynamicGrid);" class="btn btn-fill btn-success">
                                    <i class="material-icons">save</i>
                                    Save
                                </button>
                                <input type="hidden" id="HDRegID" ng-model="HDRegID" />
                                <input type="hidden" id="HDStatusID" ng-model="HDStatusID" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


