@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {

        $('.my-selectPOL').select2({
            placeholder: "POL", allowClear: true, width: '100%'
        });
        $('.my-selectPOD').select2({
            placeholder: "POD", allowClear: true, width: '100%'
        });
        $('.my-selectBP').select2({
            placeholder: "Booking Party", allowClear: true, width: '100%'
        });

        $('.my-selectVoy').select2({
            placeholder: "Vessel/Voyage", allowClear: true, width: '100%'
        });
        $('#overlay').fadeIn().delay(300).fadeOut();

        if (localStorage.getItem("UserID") == "1") {
               document.getElementById("BtnCrtNew").style.display = "block";
              }
        else {
             document.getElementById("BtnCrtNew").style.display = "none";
        }


        $scope.PortAllvalues = null;
        $scope.fillPortsValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/PortValues/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.PortAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillPortsValues();

        $scope.BookingVesVoyvalues = null;
        $scope.fillBookingVesVoyvalues = function () {

            var BussData = {};
            BussData.AgentID = localStorage.getItem("AgencyID");
            $http({
                method: 'POST',
                url: '/api/DocumentApi/BookingVesselVoy/',
                data: JSON.stringify(BussData),
            }).then(function (result) {
                $timeout(function () {
                    $scope.BookingVesVoyvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillBookingVesVoyvalues();

        $scope.BookingPartyAllvalues = null;
        $scope.fillBookingPartyValues = function () {

            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/CustomerMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.BookingPartyAllvalues = result.data;
                    $("#overlay").hide();
                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillBookingPartyValues();

        $scope.BOLview = null;
        $scope.fillBOLview = function () {
           
            var BussData = {};
            BussData.POL = $('#ddlPOL').val();
            BussData.POD = $('#ddlPOD').val();
            BussData.BookingNo = $scope.txtBookingNo;
            BussData.RRNo = $scope.txtRRNumber;
            BussData.BkgParty = $("#ddlBookingParty").val();
            BussData.AgentId = localStorage.getItem("AgencyID");
            BussData.VesVoyID = $('#ddlVesVoy').val();
            $http({
                method: 'POST',
                url: '/api/DocumentApi/BOLViewRecord/',
                data: JSON.stringify(BussData),
            }).then(function (result) {
                $timeout(function () {
                    $scope.BOLview = result.data;
                    $scope.totalItems = $scope.BOLview.length;
                    $scope.currentPage = 1;
                    $scope.numPerPage = 8;
                    $scope.paginate = function (value) {
                        var begin, end, index;
                        begin = ($scope.currentPage - 1) * $scope.numPerPage;
                        end = begin + $scope.numPerPage;
                        index = $scope.BOLview.indexOf(value);
                        return (begin <= index && index < end);
                    };


                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillBOLview();

        $scope.fillBOLCount = function () {
            var BussData = {};
            BussData.AgentId = localStorage.getItem("AgencyID");
            $http({
                method: 'POST',
                url: '/api/DocumentApi/BOLCountRecord/',
                data: JSON.stringify(BussData),
            }).then(function (result) {
                $timeout(function () {
                    $scope.Draft = result.data[0].Draft;
                    $scope.Cancelled = result.data[0].Cancelled;
                    $scope.Confirmed = result.data[0].Confirm;
                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        }
        $scope.fillBOLCount();

        $scope.BOLview = null;
        $scope.fillBOLBtnviewdtls = function (Status,BkgStatus) {
            var BussData = {};
            BussData.status = Status;
            BussData.BkgStatus = BkgStatus;
            BussData.AgentId = localStorage.getItem("AgencyID");

            $http({
                method: 'POST',
                url: '/api/DocumentApi/BOLBtnViewDtlsRecord/',
                data: JSON.stringify(BussData),
            }).then(function (result) {
                $timeout(function () {
                    $scope.BOLview = result.data;
                    $scope.totalItems = $scope.BOLview.length;
                    $scope.currentPage = 1;
                    $scope.numPerPage = 8;
                    $scope.paginate = function (value) {
                        var begin, end, index;
                        begin = ($scope.currentPage - 1) * $scope.numPerPage;
                        end = begin + $scope.numPerPage;
                        index = $scope.BOLview.indexOf(value);
                        return (begin <= index && index < end);
                    };


                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };



        $scope.LoadingBOLPage = function (BLId, BKgID,BLStatus) {

            var url = "/Document/BOL?BOLRegID=" + encodeURIComponent(BLId) + "&BkgPassID=" + encodeURIComponent(BKgID);
            window.location.href = url;

            //localStorage.setItem("BLStatus", BLStatus);
        }

        $scope.DraftView = function () {
            var status = "DRAFT";
            var BkgStatus =2;
            $scope.fillBOLBtnviewdtls(status, BkgStatus);
        }
        $scope.CancelledView = function () {
            var status = "CANCELLED";
            var BkgStatus = 3;
            $scope.fillBOLBtnviewdtls(status, BkgStatus);
        }
        $scope.ConfirmedView = function () {
            var status = "CONFIRMED";
            var BkgStatus = 2;
            $scope.fillBOLBtnviewdtls(status, BkgStatus);
        }


        $scope.ClearRecords = function () {
            $("#ddlVesVoy").val(null).trigger("change");
            $("#ddlPOL").val(null).trigger("change");
            $("#ddlPOD").val(null).trigger("change");
            $scope.txtBookingNo = "";
            $scope.txtRRNumber = "";
            $("#ddlBookingParty").val(null).trigger("change");
            $scope.fillBOLview();
        }

        $scope.btnExcel = function () {

             var POL = $('#ddlPOL').val();
             var POD = $('#ddlPOD').val();
             var BookingNo = $scope.txtBookingNo;
             var RRNumber = $scope.txtRRNumber;
             var BkgParty = $('#ddlbookingParty').val();
             var Status = null;
             var User = localStorage.getItem("UserName");
             var AgencyID = localStorage.getItem("AgencyID");

                    window.location.href = '@Url.Action("CreateBOLExcel", "BookingExcel")?POL=' + POL + "&RRNumber=" + RRNumber
                        + "&BookingNo=" + BookingNo + "&POD=" + POD + "&BkgParty=" + BkgParty + "&Status=" + Status + "&User=" + User + "&AgencyID=" + AgencyID;

        }
    });

    function ShowPopup(message) {
        swal(message);
    };
    function AddNew() {

        window.location = "/Document/BOL"
    }

</script>
<style>
    .table > tbody > tr > td
    {
        white-space:nowrap;
    }
    .bg-gradient-info, .bg-gradient-success, .bg-gradient-danger, .bg-gradient-warning {
        height: 127px !important;
    }

    .viewdiv {
        background-color: #fff;
        margin-top: -10px;
        height: 22px;
        position: absolute;
        left: 0;
        top: 115px;
    }

        .viewdiv h5 {
            color: #00172a;
            font-size: 13px;
            font-weight: bold;
            margin-top: 2px;
            margin-left: 4px;
        }

        .viewdiv .fa-arrow-right {
            color: #000;
        }

        .viewdiv .col-md-4 {
            text-align: right;
            padding-right: 6px;
            margin-top: -2px;
        }

    .card-stats .card-header.card-header-icon i {
        color: #ffffff !important;
        font-size: 38px !important;
    }

    .card.card-stats.card-cancelled {
        background-color: #f7948d;
        margin-bottom: 0;
    }

    .exceldownload .fa-file-excel-o {
        color: #4caf50;
        font-weight: 400;
        font-size: 20px;
    }

    .exceldownload a {
        color: #000;
    }
</style>
<div ng-app="MyApp" ng-controller="MyController">
    <div id="overlay" style="display:none;">
        <div class="loadcontainer">
            <div class="spinner"></div>
            <p>Loading Please Wait</p>
        </div>
    </div>

    <div class="row">
        <div id="BtnCrtNew" class="col-md-12 addbtn" style="text-align:right;">
            
            @*<a href="/Document/BOL" class="btn btn-fill btn-success btnadd btn-round btntop">
                <i class="material-icons">add</i> Create New
            </a>*@
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        BILL OF LEADING View

                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="https://www.bootstrapdash.com/demo/purple-admin-free/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                                    <h4 class="font-weight-normal">
                                        Draft
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-6"><h2><span ng-bind="Draft"></span></h2></div>
                                        <div class="col-md-6" style="text-align:right;"><h2><i class="material-icons">file_copy</i></h2></div>
                                    </div>
                                    <div class="col-md-12 viewdiv">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-md-8 padlr0"><h5 ng-click="DraftView();">View Details</h5></div>
                                                <div class="col-md-4"><i class="fa fa-arrow-right"></i></div>
                                            </div>
                                        </a>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card bg-gradient-danger card-img-holder text-white">
                                <div class="card-body">
                                    <img src="https://www.bootstrapdash.com/demo/purple-admin-free/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                                    <h4 class="font-weight-normal">
                                        Cancelled
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-6"><h2><span ng-bind="Cancelled"></span></h2></div>
                                        <div class="col-md-6" style="text-align:right;"><h2><i class="material-icons">clear</i></h2></div>
                                    </div>

                                    <div class="col-md-12 viewdiv">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-md-8 padlr0"><h5 ng-click="CancelledView();">View Details</h5></div>
                                                <div class="col-md-4"><i class="fa fa-arrow-right"></i></div>
                                            </div>
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="https://www.bootstrapdash.com/demo/purple-admin-free/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                                    <h4 class="font-weight-normal">
                                        Confirmed
                                    </h4>
                                    <div class="row">
                                        <div class="col-md-6"><h2><span ng-bind="Confirmed"></span></h2></div>
                                        <div class="col-md-6" style="text-align:right;"><h2><i class="material-icons">task_alt</i></h2></div>
                                    </div>
                                    <div class="col-md-12 viewdiv">
                                        <a href="#">
                                            <div class="row">
                                                <div class="col-md-8 padlr0"><h5 ng-click="ConfirmedView();">View Details</h5></div>
                                                <div class="col-md-4"><i class="fa fa-arrow-right"></i></div>
                                            </div>
                                        </a>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 exceldownload" style="text-align:right;">
                            <a ng-click="btnExcel();">Download <i class="fa fa-file-excel-o"></i></a>
                        </div>
                    </div>
                    <div class="toolbar">
                    </div>
                    <div class="material-datatables" style="overflow-x:scroll; ">

                        <table class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>BLNumber</th>
                                    <th>BL Type</th>
                                    <th>RRNo</th>
                                    <th>Vessel/Voyage</th>
                                    <th>Booking Party</th>
                                    <th>Shipment</th>
                                    <th>POL</th>
                                    <th>POD</th>
                                    <th>Status</th>
                                    <th class="disabled-sorting text-right">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="i in BOLview | filter : paginate | orderBy:'-Statusv'">
                                    <td>{{numPerPage *(currentPage-1)+$index+1}}</td>
                                    <td>{{i.BLNumber}}</td>
                                    <td>{{i.BLTypes}}</td>
                                    <td>{{i.RRNo}}</td>
                                    <td>{{i.VesVoy}}</td>
                                    <td>{{i.BkgParty}}</td>
                                    <td>{{i.ShipmentType}}</td>
                                    <td>{{i.POL}}</td>
                                    <td>{{i.POD}}</td>
                                    <td>{{i.Status}}</td>

                                    <td class="td-actions text-right">

                                        <button type="button" ng-click="LoadingBOLPage(i.ID,i.BkgID,i.Status);" rel="tooltip" class="btn btn-success btn-round" data-original-title="" title="">
                                            <i class="material-icons">edit</i>
                                        </button>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div id="notFoundDiv" ng-show="(BOLview|filter:BLNumber).length==0" style="color: red; font-weight: bold">No Records Found</div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <p>Showing <span style="padding-left:5px; padding-right:3px;">1</span>to<span style="padding-left:3px; padding-right:3px;">10</span>of<span style="padding-left:3px; padding-right:3px;">40</span>entries</p>
                            </div>
                            <div class="col-md-7" style="text-align:right;">
                                <pagination total-items="totalItems" ng-model="currentPage"
                                            max-size="10" boundary-links="true" items-per-page="numPerPage" class="pagination-sm">
                                </pagination>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <input type="text" id="txtRRNumber" ng-model="txtRRNumber" class="form-control" placeholder="RR Number">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <input type="text" id="txtBookingNo" ng-model="txtBookingNo" class="form-control" placeholder="Booking No">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <select id="ddlBookingParty" class="form-control my-selectBP" ng-model="ddlBookingParty" options="{ allowClear: true }" ng-options="item.CustomerName for item in BookingPartyAllvalues track by item.ID">
                                <option value="" disabled selected>Booking Party</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <select id="ddlPOL" ng-model="ddlPOL" class="form-control my-selectPOL" placeholder="POL" ng-options="item.PortName for item in PortAllvalues track by item.ID">
                            <option value="" disabled selected>POL</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="ddlPOD" ng-model="ddlPOD" class="form-control my-selectPOD" placeholder="POD" ng-options="item.PortName for item in PortAllvalues track by item.ID">
                            <option value="" disabled selected>POD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select id="ddlVesVoy" ng-model="ddlVesVoy" class="form-control my-selectVoy" placeholder="Vessel/Voyage" ng-options="item.VesVoy for item in BookingVesVoyvalues track by item.ID">
                            <option value="" disabled selected>Vessel/Voyage</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 padlr0">
                            <button type="submit" ng-click="ClearRecords();" class="btn btn-fill btn-danger searchbtn">Clear</button>
                            <button type="submit" ng-click="fillBOLview();" class="btn btn-fill btn-rose searchbtn">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

