@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<style>
    .form-control {
        width: 180px;
        height: 24px;
    }
</style>
<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $(document).ready(function () {
            $('.my-select').select2({
                placeholder: "--Select--", allowClear: true, width: '100%'
            });
        });

           $scope.Customer = null;
        $scope.fillCustomer = function () {
            $http({
                method: 'POST',
                url: '/api/Home/CustDropDown/',
                data: {},
            }).then(function (result) {
                $timeout(function () {
                    $scope.Customer = result.data;
                });
            });
        };
        $scope.fillCustomer();

         $scope.VesselNameAllvalues = null;
        $scope.fillVesselNameValues = function () {
            var Datavalue = {}
            Datavalue.ID = localStorage.getItem("AgencyID");
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/VesVoyByAgency/',
                data: JSON.stringify(Datavalue),
            }).then(function (result) {
                $timeout(function () {
                    $scope.VesselNameAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillVesselNameValues();

         $scope.PortAllvalues = null;
        $scope.fillPortsValues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/PortValues/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.PortAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillPortsValues();

        $("#ddlVesVoy").change(function () {
            $scope.AgencyMasterAllvalues = null;
            var Datavalue = {};

            Datavalue.ID = $("#ddlVesVoy").val();
           
            $http({
                method: 'POST',
                url: '/api/ReportApi/AgencyByVesVoy/',
                data: JSON.stringify(Datavalue),
               
              
                // data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.AgencyMasterAllvalues = result.data;
                    //console.log(result.data);
                  
                    //$scope.ddlDestinationAgent = { ID: result.data[0].AgentID }
                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        });

        $("#ddlVesVoy").change(function () {
            $scope.SlotOperatorAllvalues = null;
            var Datavalue = {};

            Datavalue.VesVoyID = $("#ddlVesVoy").val();
           
            $http({
                method: 'POST',
                url: '/api/ReportApi/OperatorByVesVoy/',
                data: JSON.stringify(Datavalue),
                // data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.SlotOperatorAllvalues = result.data;
                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        });

       //$scope.AgencyMasterAllvalues = null;
       // $scope.fillAgencyMasterValues = function () {
       //     var Datavalue = {}
       //     Datavalue.ID = ;
       //     $http({
       //         method: 'POST',
       //         url: '/api/ReportApi/AgencyByVesVoy/',
       //         data: {}
       //     }).then(function (result) {
       //         $timeout(function () {
       //             $scope.AgencyMasterAllvalues = result.data;

       //         });
       //     }, function (result) {
       //         if (result.status == 500) {
       //             ShowPopup("Sorry no internet connectivity Application Error.");
       //         }
       //         else if (result.status == 404) {
       //             ShowPopup("Sorry no internet connectivity page not found.");
       //         }
       //         if (result.status > 0) {
       //             var errorMsg = result.status + ': ' + result.data;
       //             ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
       //         }
       //     }).catch(function (result) {
       //         ShowPopup('There has been an error: ' + result);
       //     });
       // };
       // $scope.fillAgencyMasterValues();


        $scope.btnPrint = function () {

            var validation = "";
            var ddlVesVoy = $('#ddlVesVoy').val();
            if (ddlVesVoy == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select VessVoy</span></br>"

            }


            if (validation != "") {

                ShowPopup(validation);
                return false;
            }

            var VesVoyID = $('#ddlVesVoy').val();
            var PODID = $('#ddlPOD').val();
            var TSPORTID = $('#ddlTSPort').val();
            var AgentID = $('#ddlDestinationAgent').val();
            var VesselOpID = $('#ddlVesselOperator').val();


            window.open('@Url.Action("ExportTerminalPDF", "ExportPDF")?VesVoyID=' + VesVoyID + "&PODID=" + PODID
                + "&TSPORTID=" + TSPORTID + "&AgentID=" + AgentID + "&VesselOpID=" + VesselOpID);

            @*window.location.href = '@Url.Action("ExportTerminalPDF", "ExportPDF")?VesVoyID=' + VesVoyID + "&PODID=" + PODID
                + "&TSPORTID=" + TSPORTID +  "&AgentID=" + AgentID + "&VesselOpID=" + VesselOpID;*@
        }

    });
    function ShowPopup(message) {
        swal(message);
    };
</script>
<style>
    legend {
        background-color: #0585b5;
        color: #fff;
        font-size: 14px;
        padding: 4px 5px;
        font-weight: bold;
    }

    .inventry .form-control.sundry {
        width: 172px !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
        background-color: #12759a !important;
        color: #fff;
    }

    .nav-tabs {
        width: 300px !important;
        margin: 0 auto !important;
    }
</style>
<link href="~/assets/css/common.css" rel="stylesheet" />
<link href="~/assets/css/InvoiceStyle.css" rel="stylesheet" />
<div ng-app="MyApp" ng-controller="MyController">
    <div class="row">
        <div class="col-md-12 backbtn" style="text-align:right;">
            <a href="#" type="submit" class="btn btn-fill btnback btn-success btn-round btntop">
                <i class="material-icons">reply</i> Back
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        Terminal Departure Report
                    </div>
                </div>


                <div class="card-body">

                    <div class="row inventry">
                        <div class="col-md-12 padlr0" style="padding-top:7px; padding-bottom:7px;">
                          
                            <div class="col-md-12">
                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl2"><label class="lable-fond">Vessel/Voyage</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select id="ddlVesVoy" ng-model="ddlVesVoy" class="form-control my-select" ng-options="item.VesVoy for item in VesselNameAllvalues track by item.ID"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl2"><label class="lable-fond">POD</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select id="ddlPOD" class="form-control my-select" ng-model="ddlPOO" options="{ allowClear: true }" ng-options="item.PortName for item in PortAllvalues track by item.ID"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl3"><label class="lable-fond">Transhipment</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select class="form-control my-select" id="ddlTSPort" ng-model="ddlTSPort" ng-options="item.PortName for item in PortAllvalues track by item.ID">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row" style="margin-right:0">
                                                <div class="col-md-4 lbl"><label class="lable-fond">Discharge Agency</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select class="form-control my-select" id="ddlDestinationAgent" ng-model="ddlDestinationAgent" ng-options="item.Agency for item in AgencyMasterAllvalues track by item.ID">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row" style="margin-right:0">
                                                <div class="col-md-4 lbl"><label class="lable-fond">Slot Operator</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select id="ddlVesselOperator" ng-model="VesOperator" class="form-control my-select" ng-options="item.VesOperator for item in SlotOperatorAllvalues track by item.ID"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>



                            </div>
                        </div>

                      
                    </div>



                </div>



                <div class="row">
                    <div class="col-md-12" style="text-align: right;
        margin-top: 20px; padding-bottom: 10px;">

                        <button type="submit" class="btn btn-fill btn-success" ng-click="btnPrint();">
                            <i class="material-icons">file_download</i>
                            Generate Report
                        </button>
                        @*<button type="submit"  class="btn btn-fill btn-info">
                <i class="material-icons">file_download</i>
                Schedule Email
            </button>*@

                        <input type="hidden" id="RecId" ng-model="RecId" />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // initialise Datetimepicker and Sliders
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',

        });
    });
</script>
