@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<style>
    .form-control {
        width: 180px;
        height: 24px;
    }
</style>
<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $(document).ready(function () {
            $('.my-select').select2({
                placeholder: "--Select--", allowClear: true, width: '100%'
            });
        });

        $scope.ShipmentTypeAllvalues = [
            { 'GeneralName': 'EXPORT', 'ID': 1 },
            { 'GeneralName': 'IMPORT', 'ID': 2 },
         
        ];
        //$scope.ShipmentTypeAllvalues = null;
        //$scope.fillShipmentTypeValues = function () {
        //    var Datavalue = {};
        //    Datavalue.ID = "1"; //GeneralMaster Table seqNo
        //    $http({
        //        method: 'POST',
        //        url: '/api/CommonAccessApi/ModuleValues/',
        //        data: JSON.stringify(Datavalue)
        //    }).then(function (result) {
        //        $timeout(function () {
        //            $scope.ShipmentTypeAllvalues = result.data;

        //        });
        //    }, function (result) {
        //        if (result.status == 500) {
        //            ShowPopup("Sorry no internet connectivity Application Error.");
        //        }
        //        else if (result.status == 404) {
        //            ShowPopup("Sorry no internet connectivity page not found.");
        //        }
        //        if (result.status > 0) {
        //            var errorMsg = result.status + ': ' + result.data;
        //            ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
        //        }
        //    }).catch(function (result) {
        //        ShowPopup('There has been an error: ' + result);
        //    });
        //};
        //$scope.fillShipmentTypeValues();

        $scope.AgencyAllvalues = null;
        $scope.fillAgencyAllvalues = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/AgencyMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.AgencyAllvalues = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });
        };
        $scope.fillAgencyAllvalues();

      

        $scope.btnPrint = function () {

            var validation = "";

            var ddlShipmentType = $('#ddlShipmentType').val();
            if (ddlShipmentType == "?") {
                validation += "<span style='color:red;'>*</span> <span>Please Shipment Type</span></br>"
            }
            if (validation != "") {
                ShowPopup(validation);
                return false;
            }
            var FromDt = $('#txtFromDate').val();
            var ToDt = $('#txtToDate').val();
            var AgencyID = $('#ddlAgency').val();
            var Type = $('#ddlShipmentType').val();;
            var User = localStorage.getItem("UserName");

            window.location.href = '@Url.Action("EQCLiftingReportValues", "EQCReport")?Type=' + Type + "&FromDt=" + FromDt + "&ToDt=" + ToDt +"&AgencyID=" + AgencyID+"&User=" + User;
            
        }

    });
    function ShowPopup(message) {
        swal(message);
    };
</script>
<style>
    legend {
        background-color: #0585b5;
        color: #fff;
        font-size: 14px;
        padding: 4px 5px;
        font-weight: bold;
    }

    .inventry .form-control.sundry {
        width: 172px !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
        background-color: #12759a !important;
        color: #fff;
    }

    .nav-tabs {
        width: 300px !important;
        margin: 0 auto !important;
    }
</style>
<link href="~/assets/css/common.css" rel="stylesheet" />
<link href="~/assets/css/InvoiceStyle.css" rel="stylesheet" />
<div ng-app="MyApp" ng-controller="MyController">
    <div class="row">
        <div class="col-md-12 backbtn" style="text-align:right;">
            <a href="/AllReports/InventoryReportDashboard" type="submit" class="btn btn-fill btnback btn-success btn-round btntop">
                <i class="material-icons">reply</i> Back
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">


                <div class="card-body">

                    <div class="row" style="border: 1px solid #ccc;">
                        <div class="col-md-2" style="text-align:center;">
                            <img src="~/assets/img/misrepimg.jpg" style="width:100px;" />
                        </div>
                        <div class="col-md-8" style="text-align:center;">
                            <h4 style="font-size:24px; font-weight:bold; color:#000!important; margin-top:39px;">   EQC Lifting Report </h4>
                        </div>
                        <div class="col-md-2" style="text-align:center;">
                            <img src="~/assets/img/misrepimg.jpg" style="width:100px;" />
                        </div>
                    </div>
                    <div class="row" style="border: 1px solid #ccc; margin-top:15px;">

                        <div class="col-md-12">
                            <div class="row">


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 lbl2"><label class="lable-fond">Shipment Type</label></div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-5">
                                                <select class="form-control my-select" id="ddlShipmentType" ng-model="ddlShipmentType" options="{ allowClear: true }" ng-options="item.GeneralName for item in ShipmentTypeAllvalues track by item.ID">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 lbl2"><label class="lable-fond">Agency</label></div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-5">
                                                <select id="ddlAgency" class="form-control my-select" ng-model="ddlAgency" options="{ allowClear: true }" ng-options="item.AgencyName for item in AgencyAllvalues track by item.ID"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 lbl2"><label class="lable-fond">From Date</label></div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-5">
                                                <input type="date" id="txtFromDate" ng-model="txtFromDate" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4 lbl2"><label class="lable-fond">To Date</label></div>
                                            <div class="col-md-1">:</div>
                                            <div class="col-md-5">
                                                <input type="date" id="txtToDate" ng-model="txtToDate" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="text-align:right;">

                                </div>
                                <div class="col-md-4" style="text-align:right;">

                                </div>
                                <div class="col-md-4" style="text-align:right;">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-fill btn-info" ng-model="btnPrint" ng-click="btnPrint();" style="padding: 6px 18px; margin-top: -1px;width:46%; ">
                                                    <i class="material-icons"></i>  Generate Report
                                                </button>
                                                <button type="submit" class="btn btn-fill btn-default" ng-model="ClearRecords" ng-click="ClearRecords();" style="padding: 6px 18px; margin-top: -1px; width: 46%;">
                                                    <i class="material-icons">close</i> Clear
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                    </div>
  
                </div>


                </div>



        </div>




    </div>
</div>


<script>
    $(document).ready(function () {
        // initialise Datetimepicker and Sliders
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',

        });
    });
</script>
