@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>
<style>
    .form-control {
        width: 180px;
        height: 24px;
    }
    .form-control.interdays {
    width: 93px!important;
    margin-right: 13px;
}
    .lable-fond.chk{
        width:130px!important;
    }
</style>
<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {
        $(document).ready(function () {
            $('.my-select').select2({
                placeholder: "--Select--", allowClear: true, width: '100%'
            });
        });

    });
    function ShowPopup(message) {
        swal(message);
    };
</script>
<style>
    legend {
        background-color: #21277a;
        color: #fff;
        font-size: 14px;
        padding: 4px 5px;
        font-weight: bold;
    }

    .inventry .form-control.sundry {
        width: 172px !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th {
        background-color: #21277a !important;
        color: #fff;
    }

    .nav-tabs {
        width: 300px !important;
        margin: 0 auto !important;
    }
</style>
<link href="~/assets/css/common.css" rel="stylesheet" />
<link href="~/assets/css/InvoiceStyle.css" rel="stylesheet" />
<div ng-app="MyApp" ng-controller="MyController">
    <div class="row">
        <div class="col-md-12 backbtn" style="text-align:right;">
            <a href="/Account/ReceiptView" type="submit" class="btn btn-fill btnback btn-success btn-round btntop">
                <i class="material-icons">reply</i> Back
            </a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary card-header-icon">
                    <div class="card-icon">
                        Party Ageing
                    </div>
                </div>


                <div class="card-body">

                    <div class="row inventry">
                        <div class="col-md-12 padlr0" style="padding-top:7px; padding-bottom:7px;">
                            <fieldset>
                                <legend>Selections Criteria</legend>
                            </fieldset>

                            <div class="col-md-12">
                                <div class="row">


                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl2"><label class="lable-fond">Location</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select class="form-control my-select" ng-model="ddlLocation" id="ddlLocation">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl2"><label class="lable-fond">Category</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select class="form-control my-select" ng-model="ddlCategory" id="ddlCategory">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl3"><label class="lable-fond">Ageing Date</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <input id="txtAgeingDate" type="text" ng-model="txtAgeingDate" class="form-control datepicker" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="row" style="margin-right:0">
                                                <div class="col-md-2 lbl"><label class="lable-fond">Interval Days</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-6">
                                                    <table style="margin-left:-30px;">
                                                        <tbody>
                                                            <tr>
                                                                <td><input type="text" value="10" id="txtSlab1" class="form-control interdays"></td>
                                                                <td><input type="text" value="25" id="txtSlab2" class="form-control interdays"></td>
                                                                <td><input type="text" value="50" id="txtSlab3" class="form-control interdays"></td>
                                                                <td><input type="text" value="75" id="txtSlab4" class="form-control interdays"></td>
                                                                <td><input type="text" value="100" id="txtSlab5" class="form-control interdays"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 lbl3"><label class="lable-fond">Sales PIC</label></div>
                                                <div class="col-md-1">:</div>
                                                <div class="col-md-5">
                                                    <select class="form-control my-select" ng-model="ddlSalesPic" id="ddlSalesPic">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <div class="col-md-12 padlr0" style="padding-top:7px; padding-bottom:7px;">
                            <fieldset>
                                <legend>Addl.Selection Criteria</legend>
                            </fieldset>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <div class="row" style="margin-right:0">
                                                        <div class="col-md-2 lbl"><label class="lable-fond">Select All</label></div>

                                                        <div class="col-md-6">
                                                            <input type="checkbox" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="row" style="margin-right:0">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4 lbl"><label class="lable-fond chk">Parties</label></div>

                                                        <div class="col-md-6">
                                                            <input type="checkbox" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4 lbl"><label class="lable-fond chk">Sales Pic</label></div>

                                                        <div class="col-md-6">
                                                            <input type="checkbox" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4 lbl"><label class="lable-fond chk">On Account Balance</label></div>

                                                        <div class="col-md-6">
                                                            <input type="checkbox" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4 lbl"><label class="lable-fond chk">Reconsiled Transactions</label></div>

                                                        <div class="col-md-6">
                                                            <input type="checkbox" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-4 lbl"><label class="lable-fond chk">BLNo</label></div>

                                                        <div class="col-md-6">
                                                            <input type="checkbox" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>



                </div>



                <div class="row">
                    <div class="col-md-12" style="text-align:right; margin-top:20px;">

                        <button type="submit" ng-click="ReceiptPrint();" class="btn btn-fill btn-success">
                            <i class="material-icons">file_download</i>
                            Get Report
                        </button>

                        <input type="hidden" id="RecId" ng-model="RecId" />


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // initialise Datetimepicker and Sliders
        $('.datepicker').datetimepicker({
            format: 'DD/MM/YYYY',

        });
    });
</script>