@model  NVOCShipping.Models.MasterModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>


<script type="text/javascript">

    LayoutApp.controller('MyController', function ($scope, $http, $timeout) {

        $scope.SelectedFiles = null;
        $scope.Country = null;
        $scope.fillCountry = function () {
            $http({
                method: 'POST',
                url: '/api/CommonAccessApi/CountryMaster/',
                data: {}
            }).then(function (result) {
                $timeout(function () {
                    $scope.Country = result.data;

                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }
                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                ShowPopup('There has been an error: ' + result);
            });

        };
        $scope.fillCountry();


        $scope.Recordsave = function () {

            var validation = "";
            var txtTaxCode = $('#txtTaxCode').val();
            if (txtTaxCode.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Tax Code</span></br>"

            }
            var txtTaxDesc = $('#txtTaxDesc').val();
            if (txtTaxDesc.length == 0) {

                validation += "<span style='color:red;'>*</span> <span>Please Enter Tax Description</span></br>"
            }

            var ddlCountry = $('#ddlCountry').val();
            if (ddlCountry == "?") {

                validation += "<span style='color:red;'>*</span> <span>Please Select Country</span></br>"
            }
        
            if (validation != "") {

                ShowPopup(validation);
                return false;
            }

            $('#overlay').fadeIn().delay(100).fadeOut();
            var BussData = {}
            var id = $scope.HDRegId;

            if (id == "" || id == null)
                BussData.ID = 0;
            else
            BussData.ID = $scope.HDRegId;
            BussData.TaxCode = $scope.txtTaxCode;
            BussData.TaxDescription = $scope.txtTaxDesc;
            BussData.CountryID = $("#ddlCountry").val();
            BussData.CountryName = $("#ddlCountry option:selected").text(),
          
            $http({
                method: 'POST',
                url: "/api/FinanceApi/InsertTaxNames",
                data: JSON.stringify(BussData),
            }).then(function (result) {

                $timeout(function () {
                     //$scope.HDRegId = result.data[0].ID;
                   
                    if (BussData.ID != "") {
                        ShowPopup("TaxNames Master Updated");
                    }
                    else {

                        ShowPopup("TaxNames Master Saved Successfully");
                    }

                    setTimeOut(function () {
                        window.location = "/";
                    }, 3000);
                });
            }, function (result) {
                if (result.status == 500) {
                    ShowPopup("Sorry no internet connectivity Application Error.");
                }
                else if (result.status == 404) {
                    ShowPopup("Sorry no internet connectivity page not found.");
                }


                if (result.status > 0) {
                    var errorMsg = result.status + ': ' + result.data;
                    // $(".modal").hide();
                    ShowPopup("Sorry no internet connectivity detected.Please reconnect and try  again.");
                }
            }).catch(function (result) {
                // This is set in the event of an error.
                console.log(result);
                ShowPopup('There has been an error: ' + result);
            });

        }
       
        $(document).ready(function () {

            var queryString = new Array();
            if (window.location.search.split('?').length > 1) {
                var secret_key = CryptoJS.enc.Utf8.parse(localStorage.getItem("SessionKey"));
                var iv = CryptoJS.enc.Utf8.parse(localStorage.getItem("Sessioniv"));
                var bytes = CryptoJS.AES.decrypt(window.location.search.split('?')[1].toString(), secret_key, {
                    iv: iv,
                    mode: CryptoJS.mode.CBC,
                    padding: CryptoJS.pad.Pkcs7
                });

                var params = bytes.toString(CryptoJS.enc.Utf8).split('&');
                //alert(params);
                for (var i = 0; i < params.length; i++) {
                    var key = params[i].split('=')[0];
                    var value = decodeURIComponent(params[i].split('=')[1]);
                    queryString[key] = value;

                }
            }
            if (queryString["TaxNameID"] != null) {
                $scope.HDRegId = queryString["TaxNameID"].toString();
                $scope.BindExistingTaxNames(queryString["TaxNameID"].toString());

            }
        });

            $scope.BindExistingTaxNames = function (TaxNameID) {

                var Datavalue = {}
                var id = TaxNameID;

                if (id == "" || id == null)
                    Datavalue.ID = 0;
                else
                    Datavalue.ID = TaxNameID;

                $http({
                    method: 'POST',
                    url: '/api/FinanceApi/TaxNameViewedit/',
                    data: JSON.stringify(Datavalue),
                }).then(function (result) {
                    $timeout(function () {

                        if (Datavalue.ID != "") {

                            $scope.txtTaxCode = result.data[0].TaxCode;
                            $scope.txtTaxDesc = result.data[0].TaxDescription;
                            $scope.CountryID = { ID: result.data[0].CountryID };
                        }
                        else {
                            $scope.txtTaxCode = "";
                            $scope.txtTaxDesc = "";
                            $scope.ddlCountry = 0;
                        }
                    });
                });

            }

        });

 

        //existing value bind

    
    function ShowPopup(message) {
        swal(message);
    };

</script>

<div ng-app="MyApp" ng-controller="MyController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 backbtn" style="text-align:right;">
                <a href="/Finance/TaxNamesView" class="btn btn-fill btn-success btnback btn-round btntop">
                    <i class="material-icons">reply</i> Back

                </a>
                @*<button type="submit" ng-click="AddNew();" class="btn btn-fill btn-warning btn-round btntop">
                    <i class="material-icons">edit</i>

                </button>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card ">
                    <div class="card-header card-header-primary card-header-text">
                        <div class="card-text">
                            <h4 class="card-title">Tax Names</h4>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Tax Code</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" autocomplete="off" id="txtTaxCode" ng-model="txtTaxCode" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Tax Description</label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">
                                            <input type="text" id="txtTaxDesc" autocomplete="off" ng-model="txtTaxDesc" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Country </label>
                                        </div>
                                        <div class="col-md-1">:</div>
                                        <div class="col-md-7">


                                            <select class="form-control my-select" ng-model="CountryID" id="ddlCountry" ng-options="item.CountryName for item in Country track by item.ID" required>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer ">
                        <div class="col-md-12" style="text-align:right;">
                            <button type="submit" ng-click="Recordsave();" class="btn btn-fill btn-success">Submit</button>
                        </div>
                        <input type="hidden" id="HDRegId" ng-model="HDRegId" />
                    </div>

                </div>
           
            </div>
        </div>

    </div>
</div>


<script>

    $(document).ready(function () {
        $('.my-select').select2({
            placeholder: "--Select--",
            allowClear: true,
            width: '100%'
        });

    });
</script>


